{{ include('header.twig') }}
<!-- Contact Section -->
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Mensagem enviada com sucesso</h2>
        <h3 class="section-subheading text-muted">Mensagem enviada com sucesso, sua mensagem será respondida o mais rápido possível.</h3>
      </div>
    </div>
  </div>
</section>
{{ include('footer.twig') }}