{{ include('header.twig') }}
<!-- Privacy Section -->
<section id="privacy" style="background-image: url('{{ get_site_image_url('Image.Contato') }}');">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Página não encontrada</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center section-heading">
        <p>
          <a href="/">Clique aqui</a>
          para voltar para a página principal</p>
      </div>
    </div>
  </div>
</section>
{{ include('footer.twig') }}