  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <span class="copyright">Copyright &copy; GrandChef {{ date('Y') }}</span>
        </div>
        <div class="col-md-4">
          <ul class="list-inline social-buttons">
{% if !is_null($app->getSystem()->getCompany()->getTwitterURL()) %}
            <li><a href="{{ $app->getSystem()->getCompany()->getTwitterURL() }}"><i class="fa fa-twitter"></i></a></li>
{% endif %}
{% if !is_null($app->getSystem()->getCompany()->getFacebookURL()) %}
            <li><a href="{{ $app->getSystem()->getCompany()->getFacebookURL() }}"><i class="fa fa-facebook"></i></a></li>
{% endif %}
{% if !is_null($app->getSystem()->getCompany()->getLinkedInURL()) %}
            <li><a href="{{ $app->getSystem()->getCompany()->getLinkedInURL() }}"><i class="fa fa-linkedin"></i></a></li>
{% endif %}
          </ul>
        </div>
        <div class="col-md-4">
          <ul class="list-inline quicklinks">
            <li><a href="/#/privacy">Privacidade</a>
            </li>
            <li><a href="/#/terms">Termos de Uso</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <script src="/static/js/index.min.js"></script>
  <script type="text/javascript">
    {% $thunder = \Thunder::execute() %}
    var n = [
      {% for $message in $thunder %}
        {
          type: '{{ $message['type'] }}',
          msg: '{{ $message['text'] }}',
          auto_close: {{ $message['auto_close'] }}
        },
      {% endfor %}
    ];
    $(function () {
      Notification.show(n);
    });
  </script>
</body>
</html>