<div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
  <label for="set_imagemurl">Imagem:</label>
  <div id="imagemurl_container" class="image-view third-effect" style="height: 200px;">
    <label for="image_header" class="lbltitle">
      <img src="{{ $cartao->makeImagemURL() }}" no-picture="{{ $cartao->makeImagemURL(true) }}" height="200" alt="Imagem" title="Imagem"/>
    </label>
    <input class="upload" type="file" id="raw_imagemurl" name="raw_imagemurl" accept="image/x-png, image/jpeg"/>
    <input type="hidden" name="imagemurl" value="{{ $cartao->getImagemURL() }}" />
    <div class="mask">
      <a href="#" class="img-open" id="set_imagemurl" title="Selecionar imagem do computador">Abrir</a>
      <a href="#" class="img-remove" title="Remover imagem">Remover</a>
    </div>
  </div>
</div>
<div class="form-group col-lg-3 col-md-6 col-sm-6 col-xs-12">
  <label for="bandeira">Bandeira:</label>
  <input type="text" id="bandeira" name="bandeira" class="form-control" value="{{ $cartao->getBandeira() }}">
</div>
<div class="form-group col-lg-3 col-md-6 col-sm-6 col-xs-12">
  <label for="formapagtoid">Forma de pagamento:</label>
  <select class="form-control" id="formapagtoid" name="formapagtoid">
{% for $_forma_pagto in $_formas_de_pagamento %}
    <option value="{{ $_forma_pagto->getID() }}" {{ $cartao->getFormaPagtoID() == $_forma_pagto->getID()?'selected':'' }}>{{ $_forma_pagto->getDescricao() }}</option>
{% endfor %}
  </select>
</div>
<div class="form-group col-lg-3 col-md-6 col-sm-6 col-xs-12">
  <label for="carteiraid">Carteira:</label>
  <select class="form-control" id="carteiraid" name="carteiraid">
    <option value="" {{ is_null($cartao->getCarteiraID())?'selected':'' }}>Não informada</option>
    {% for $_carteira in $_carteiras %}
      <option value="{{ $_carteira->getID() }}" {{ $cartao->getCarteiraID() == $_carteira->getID()?'selected':'' }}>{{ $_carteira->getDescricao() }}</option>
    {% endfor %}
  </select>
</div>
<div class="form-group col-lg-3 col-md-6 col-sm-6 col-xs-12">
  <label for="taxa">Taxa:</label>
  <input type="text" id="taxa" name="taxa" class="numeric form-control text-right" data-a-sign=" %" data-p-sign="s" data-a-sep="." data-a-dec="," data-a-pad="false" value="{{ $cartao->getTaxa() }}">
</div>
<div class="form-group col-lg-3 col-md-4 col-sm-4 col-xs-12">
  <label for="diasrepasse">Dias para repasse:</label>
  <input type="text" id="diasrepasse" name="diasrepasse" class="numeric form-control" data-a-sep="" data-m-dec="0" value="{{ $cartao->getDiasRepasse() }}">
</div>
<div class="form-group col-lg-2 col-md-4 col-sm-4 col-xs-12">
  <label for="taxaantecipacao">Taxa de antecipação:</label>
  <input type="text" id="taxaantecipacao" name="taxaantecipacao" class="numeric form-control" data-a-sign=" %" data-p-sign="s" data-a-sep="." data-a-dec="," data-a-pad="false" value="{{ $cartao->getTaxaAntecipacao() }}">
</div>
<div class="checkbox col-lg-1 col-md-4 col-sm-4 col-xs-12">
  <label>
    <input type="checkbox" id="ativo" name="ativo" value="Y" {{ $cartao->getAtivo() == 'Y'?'checked':'' }}>
    Ativo
  </label>
</div>