<div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
  <label for="descricao">Descrição:</label>
  <input type="text" id="descricao" name="descricao" class="form-control" value="{{ $forma_pagto->getDescricao() }}">
</div>
<div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
  <label for="tipo">Tipo:</label>
  <select id="tipo" name="tipo" class="form-control">
{% for $value, $text in $tipo_options %}
    <option value="{{ $value }}" {{ $forma_pagto->getTipo() == $value ? 'selected': '' }}>{{ $text }}</option>
{% endfor %}
  </select>
</div>
<div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
  <label for="carteiraid">Carteira:</label>
  <select class="form-control" id="carteiraid" name="carteiraid">
    {% for $_carteira in $_carteiras %}
      <option value="{{ $_carteira->getID() }}" {{ $forma_pagto->getCarteiraID() == $_carteira->getID()?'selected':'' }}>{{ $_carteira->getDescricao() }}</option>
    {% endfor %}
  </select>
</div>
<div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
  <label for="minparcelas">Minimo de parcelas:</label>
  <input type="text" id="minparcelas" name="minparcelas" class="numeric form-control text-right" data-a-sep="" data-m-dec="0" value="{{ $forma_pagto->getMinParcelas() }}">
</div>
<div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
  <label for="maxparcelas">Máximo de parcelas:</label>
  <input type="text" id="maxparcelas" name="maxparcelas" class="numeric form-control text-right" data-a-sep="" data-m-dec="0" value="{{ $forma_pagto->getMaxParcelas() }}">
</div>
<div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
  <label for="parcelassemjuros">Parcelas sem juros:</label>
  <input type="text" id="parcelassemjuros" name="parcelassemjuros" class="numeric form-control text-right" data-a-sep="" data-m-dec="0" value="{{ $forma_pagto->getParcelasSemJuros() }}">
</div>
<div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
  <label for="juros">Juros:</label>
  <input type="text" id="juros" name="juros" class="numeric form-control text-right" data-a-sep="." data-a-dec="," data-a-sign=" %" data-p-sign="s" data-a-pad="false" value="{{ $forma_pagto->getJuros() }}">
</div>
<div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
  <label for="integracaoid">Mostrar na integração:</label>
  <select class="form-control" id="integracaoid" name="integracaoid">
    <option value="" {{ is_null($forma_pagto->getIntegracaoID())?'selected':'' }}>Apenas localmente</option>
{% for $_integracao in $_integracoes %}
    <option value="{{ $_integracao->getID() }}" {{ $forma_pagto->getIntegracaoID() == $_integracao->getID()?'selected':'' }}>{{ $_integracao->getNome() }}</option>
{% endfor %}
  </select>
</div>
<div class="checkbox col-lg-3 col-md-4 col-sm-6 col-xs-12">
  <label>
    <input type="checkbox" id="ativa" name="ativa" value="Y" {{ $forma_pagto->getAtiva() == 'Y'?'checked':'' }}>
    Ativa
  </label>
</div>