<input type="hidden" id="id" name="id" value="{{ $produto->getID() }}">
<div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
  <label for="set_imagem">Imagem:</label>
  <div id="imagem_container" class="image-view third-effect" style="height: 256px;">
    <label for="image_header" class="lbltitle">
      <img src="{{ get_image_url($produto->getImagem(), 'produto', 'produto.png') }}" no-picture="{{ get_image_url(null, 'produto', 'produto.png') }}" height="256" alt="Imagem" title="Imagem"/>
    </label>
    <input class="upload" type="file" id="raw_imagem" name="raw_imagem" accept="image/x-png, image/jpeg"/>
    <input type="hidden" name="imagem" value="{{ $produto->getImagem() }}"/>
    <div class="mask">
      <a href="#" class="img-open" id="set_imagem" title="Selecionar imagem do computador">Abrir</a>
      <a href="#" class="img-remove" title="Remover imagem">Remover</a>
    </div>
  </div>
</div>
<div class="form-group col-lg-2 col-md-4 col-sm-6 col-xs-12">
  <label for="codigobarras">Código de barras:</label>
  <input type="text" id="codigobarras" name="codigobarras" class="numeric form-control text-right" data-a-sep="" data-m-dec="0" value="{{ $produto->getCodigoBarras() }}">
</div>
<div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
  <label for="categoriaid">Categoria:</label>
  <select class="form-control" id="categoriaid" name="categoriaid">
    {% for $_categoria in $_categorias %}
      {% $_supercategoria = $_categoria->findCategoriaID() %}
      <option value="{{ $_categoria->getID() }}" {{ $produto->getCategoriaID() == $_categoria->getID()?'selected':'' }}>{{ $_categoria->getDescricao() }}{% if $_supercategoria->exists() %} - {{ $_supercategoria->getDescricao() }}{% endif %}</option>
    {% endfor %}
  </select>
</div>
<div class="form-group col-lg-3 col-md-4 col-sm-3 col-xs-12">
  <label for="unidadeid">Unidade:</label>
  <select class="form-control" id="unidadeid" name="unidadeid">
    {% for $_unidade in $_unidades %}
      <option value="{{ $_unidade->getID() }}" {{ $produto->getUnidadeID() == $_unidade->getID()?'selected':'' }}>{{ $_unidade->getNome() }}</option>
    {% endfor %}
  </select>
</div>
<div class="form-group col-lg-2 col-md-4 col-sm-3 col-xs-12">
  <label for="tipo">Tipo:</label>
  <select id="tipo" name="tipo" class="form-control">
    <option value="Produto" {{ $produto->getTipo() == 'Produto'?'selected':'' }}>Produto</option>
    <option value="Composicao" {{ $produto->getTipo() == 'Composicao'?'selected':'' }}>Composição</option>
    <option value="Pacote" {{ $produto->getTipo() == 'Pacote'?'selected':'' }}>Pacote</option>
  </select>
</div>
<div class="form-group col-lg-4 col-md-4 col-sm-3 col-xs-12">
  <label for="setorestoqueid">Setor de estoque:</label>
  <select class="form-control" id="setorestoqueid" name="setorestoqueid">
    <option value="" {{ is_null($produto->getSetorEstoqueID())?'selected':'' }}>Automático</option>
    {% for $_setor in $_setores %}
      <option value="{{ $_setor->getID() }}" {{ $produto->getSetorEstoqueID() == $_setor->getID()?'selected':'' }}>{{ $_setor->getNome() }}</option>
    {% endfor %}
  </select>
</div>
<div class="form-group col-lg-3 col-md-4 col-sm-3 col-xs-12">
  <label for="setorpreparoid">Setor de impressão:</label>
  <select class="form-control" id="setorpreparoid" name="setorpreparoid">
    <option value="" {{ is_null($produto->getSetorPreparoID())?'selected':'' }}>Não imprimir</option>
    {% for $_setor in $_setores %}
      <option value="{{ $_setor->getID() }}" {{ $produto->getSetorPreparoID() == $_setor->getID()?'selected':'' }}>{{ $_setor->getNome() }}</option>
    {% endfor %}
  </select>
</div>
<div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
  <label for="descricao">Descrição:</label>
  <input type="text" id="descricao" name="descricao" class="form-control" value="{{ $produto->getDescricao() }}">
</div>
<div class="form-group col-lg-2 col-md-4 col-sm-4 col-xs-12">
  <label for="abreviacao">Abreviação:</label>
  <input type="text" id="abreviacao" name="abreviacao" class="form-control" value="{{ $produto->getAbreviacao() }}">
</div>
<div class="form-group col-lg-3 col-md-4 col-sm-8 col-xs-12">
  <label for="detalhes">Detalhes:</label>
  <input type="text" id="detalhes" name="detalhes" class="form-control" value="{{ $produto->getDetalhes() }}">
</div>
<div class="form-group col-lg-3 col-md-4 col-sm-3 col-xs-12">
  <label for="quantidadelimite">Quantidade limite:</label>
  <input type="text" id="quantidadelimite" name="quantidadelimite" class="numeric form-control text-right" data-a-sep="." data-a-dec="," data-v-min="0.00000" data-a-pad="false" value="{{ $produto->getQuantidadeLimite() }}">
</div>
<div class="form-group col-lg-2 col-md-4 col-sm-3 col-xs-12">
  <label for="quantidademaxima">Quantidade máxima:</label>
  <input type="text" id="quantidademaxima" name="quantidademaxima" class="numeric form-control text-right" data-a-sep="." data-a-dec="," data-v-min="0.00000" data-a-pad="false" value="{{ $produto->getQuantidadeMaxima() }}">
</div>
<div class="form-group col-lg-2 col-md-2 col-sm-3 col-xs-12">
  <label for="conteudo">Conteúdo:</label>
  <input type="text" id="conteudo" name="conteudo" class="numeric form-control text-right" data-a-sep="." data-a-dec="," data-v-min="0.00000" data-a-pad="false" value="{{ $produto->getConteudo() }}">
</div>
<div class="form-group col-lg-2 col-md-3 col-sm-3 col-xs-12">
  <label for="precovenda">Preço de venda:</label>
  <input type="text" id="precovenda" name="precovenda" class="numeric form-control text-right" data-a-sep="." data-a-dec="," data-a-sign="{{ $currency->getSimbolo() }} " value="{{ $produto->getPrecoVenda() }}">
</div>
<div class="form-group col-lg-2 col-md-3 col-sm-3 col-xs-12">
  <label for="custoproducao">Custo de produção:</label>
  <input type="text" id="custoproducao" name="custoproducao" class="numeric form-control text-right" data-a-sep="." data-a-dec="," data-a-sign="{{ $currency->getSimbolo() }} " value="{{ $produto->getCustoProducao() }}">
</div>
<div class="form-group col-lg-2 col-md-4 col-sm-3 col-xs-12">
  <label for="tempopreparo">Tempo de preparo(min):</label>
  <input type="text" id="tempopreparo" name="tempopreparo" class="numeric form-control text-right" data-a-sep="" data-m-dec="0" value="{{ $produto->getTempoPreparo() }}">
</div>
<div class="form-group col-lg-3 col-md-3 col-sm-3 col-xs-12">
  <div class="checkbox">
    <label>
      <input type="checkbox" id="cobrarservico" name="cobrarservico" value="Y" {{ $produto->getCobrarServico() == 'Y'?'checked':'' }}>
      Cobrança de serviço
    </label>
  </div>
</div>
<div class="form-group col-lg-2 col-md-2 col-sm-2 col-xs-6">
  <div class="checkbox">
    <label>
      <input type="checkbox" id="divisivel" name="divisivel" value="Y" {{ $produto->getDivisivel() == 'Y'?'checked':'' }}>
      Divisível
    </label>
  </div>
</div>
<div class="form-group col-lg-2 col-md-2 col-sm-2 col-xs-6">
  <div class="checkbox">
    <label>
      <input type="checkbox" id="pesavel" name="pesavel" value="Y" {{ $produto->getPesavel() == 'Y'?'checked':'' }}>
      Pesável
    </label>
  </div>
</div>
<div class="form-group col-lg-2 col-md-2 col-sm-2 col-xs-6">
  <div class="checkbox">
    <label>
      <input type="checkbox" id="perecivel" name="perecivel" value="Y" {{ $produto->getPerecivel() == 'Y'?'checked':'' }}>
      Perecível
    </label>
  </div>
</div>
<div class="form-group col-lg-2 col-md-2 col-sm-2 col-xs-6">
  <div class="checkbox">
    <label>
      <input type="checkbox" id="visivel" name="visivel" value="Y" {{ $produto->getVisivel() == 'Y'?'checked':'' }}>
      Visível
    </label>
  </div>
</div>