<div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
  <label for="descricao">Descrição:</label>
  <input type="text" id="descricao" name="descricao" class="form-control" value="{{ $conta->getDescricao() }}">
</div>
<div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
  <label for="tipo">Tipo:</label>
  <select id="tipo" name="tipo" class="form-control">
{% for $value, $text in $tipo_options %}
    <option value="{{ $value }}" {{ $conta->getTipo() == $value ? 'selected': '' }}>{{ $text }}</option>
{% endfor %}
  </select>
</div>
<div class="form-group col-lg-2 col-md-4 col-sm-6 col-xs-12">
  <label for="valor">Valor:</label>
  <input type="text" id="valor" name="valor" class="numeric form-control text-right" data-a-sep="." data-a-dec="," data-a-sign="{{ $currency->getSimbolo() }} " value="{{ abs($conta->getValor()) }}">
</div>
<input type="hidden" id="clienteid_ref" name="clienteid" data-content="{{ $cliente_id_obj->getNomeCompleto() }}" value="{{ $conta->getClienteID() }}">
<div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
  <label for="clienteid"><span id="cliente-label">Cliente: </span><span class="identifier">{{ \MZ\Util\Mask::phone($cliente_id_obj->getTelefone()->getNumero()) }}<span></label>
  <input type="text" id="clienteid" class="form-control" placeholder="Procurar pelo Nome..." value="{{ $cliente_id_obj->getNomeCompleto() }}">
</div>
<div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
  <label for="vencimento">Data de vencimento:</label>
  <input type="text" id="vencimento" name="vencimento" autocomplete="off" class="datetime-picker form-control" value="{{ $this->date($conta->getVencimento()) }}">
</div>
<div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
  <label for="carteiraid" title="Informa o cartão em que essa conta foi realizada ou a conta para débito automático">Cartão ou Conta corrente:</label>
  <select class="form-control" id="carteiraid" name="carteiraid">
    <option value="" {{ is_null($conta->getCarteiraID()) ? 'selected' : '' }}>Não informada</option>
{% for $_carteira in $_carteiras %}
    <option value="{{ $_carteira->getID() }}" {{ $conta->getCarteiraID() == $_carteira->getID()?'selected':'' }}>{{ $_carteira->getDescricao() }}</option>
{% endfor %}
  </select>
</div>

<div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
  <label for="numeroparcela">Número da parcela:</label>
  <input type="text" id="numeroparcela" name="numeroparcela" class="numeric form-control text-right" data-a-sep="" data-m-dec="0" value="{{ $conta->getNumeroParcela() }}">
</div>
<div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
  <label for="parcelas">Quantidade de Parcelas:</label>
  <input type="text" id="parcelas" name="parcelas" class="numeric form-control text-right" data-a-sep="" data-m-dec="0" value="{{ $conta->getParcelas() }}">
</div>
<div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
  <div class="checkbox">
    <label>
      <input type="checkbox" id="automatico" name="automatico" value="Y" {{ $conta->getAutomatico() == 'Y'?'checked':'' }}> Renovar automáticamente
    </label>
  </div>
</div>
<div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
  <label for="fonte">Fonte dos valores:</label>
  <select id="fonte" name="fonte" class="form-control">
{% for $value, $text in $fonte_options %}
    <option value="{{ $value }}" {{ $conta->getFonte() == $value ? 'selected': '' }}>{{ $text }}</option>
{% endfor %}
  </select>
</div>
<div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
  <label for="modo">Modo de frequência:</label>
  <select id="modo" name="modo" class="form-control">
{% for $value, $text in $modo_options %}
    <option value="{{ $value }}" {{ $conta->getModo() == $value ? 'selected': '' }}>{{ $text }}</option>
{% endfor %}
  </select>
</div>
<div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
  <label for="frequencia">Frequencia:</label>
  <input type="text" id="frequencia" name="frequencia" class="numeric form-control text-right" data-a-sep="" data-m-dec="0" value="{{ $conta->getFrequencia() }}">
</div>
<div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
  <label for="acrescimo" title="Calculado pela tempo de atraso + multa">Acréscimo:</label>
  <input type="text" id="acrescimo" name="acrescimo" class="numeric form-control text-right" data-a-sep="." data-a-dec="," data-a-sign="R$ " value="{{ $conta->getAcrescimo() }}">
</div>
<div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
  <label for="multa">Multa por atraso:</label>
  <input type="text" id="multa" name="multa" class="numeric form-control text-right" data-a-sep="." data-a-dec="," data-a-sign="{{ $currency->getSimbolo() }} " value="{{ abs($conta->getMulta()) }}">
</div>
<div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
  <label for="juros">Juros:</label>
  <input type="text" id="juros" name="juros" class="numeric form-control text-right" data-a-sign=" %" data-p-sign="s" data-a-sep="." data-a-dec="," data-a-pad="false" value="{{ $conta->getJuros() * 100 }}">
</div>
<div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
  <label for="formula">Tipo de juros:</label>
  <select id="formula" name="formula" class="form-control">
{% for $value, $text in $formula_options %}
    <option value="{{ $value }}" {{ $conta->getFormula() == $value ? 'selected': '' }}>{{ $text }}</option>
{% endfor %}
  </select>
</div>
<input type="hidden" id="classificacaoid_ref" name="classificacaoid" data-content="{{ $classificacao_id_obj->getDescricao() }}" value="{{ $conta->getClassificacaoID() }}">
<div class="form-group col-lg-6 col-md-4 col-sm-6 col-xs-12">
  <label for="classificacaoid">Classificação:
    <span class="identifier">{{ $classificacao_id_obj->getID() }}
    </span>
  </label>
  <input type="text" id="classificacaoid" class="form-control" placeholder="Procurar pela Descrição..." value="{{ $classificacao_id_obj->getDescricao() }}">
</div>
<div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
  <label for="dataemissao">Data de emissão:</label>
  <input type="text" id="dataemissao" name="dataemissao" autocomplete="off" class="datetime-picker form-control" value="{{ $this->datetime($conta->getDataEmissao()) }}">
</div>
<div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
  <label for="numerodoc">Número do documento:</label>
  <input type="text" id="numerodoc" name="numerodoc" class="form-control" value="{{ $conta->getNumeroDoc() }}">
</div>
<input type="hidden" id="anexourl" name="anexourl" value="{{ $conta->getAnexoURL() }}">
<div class="form-group col-lg-12 col-md-8 col-sm-6 col-xs-12">
  <label for="raw_anexourl">Anexo:</label>
  <div class="input-group">
    <label class="input-group-btn">
      <span class="btn btn-primary">
        Selecionar…
        <input type="file" id="raw_anexourl" name="raw_anexourl" style="display: none;">
      </span>
    </label>
    <input type="text" class="form-control" readonly="" value="{{ $conta->getAnexoURL() }}">
    <span class="input-group-btn">
      <button class="btn btn-default" id="clear_anexourl" type="button">Remover</button>
    </span>
  </div>
</div>