<div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
  <label for="set_imagemurl">Imagem:</label>
  <div id="imagemurl_container" class="image-view third-effect" style="height: 128px;">
    <label for="image_header" class="lbltitle">
      <img src="{{ $servico->makeImagemURL() }}" no-picture="{{ $servico->makeImagemURL(true) }}" height="128" alt="Imagem" title="Imagem"/>
    </label>
    <input class="upload" type="file" id="raw_imagemurl" name="raw_imagemurl" accept="image/x-png, image/jpeg"/>
    <input type="hidden" name="imagemurl" value="{{ $servico->getImagemURL() }}" />
    <div class="mask">
      <a href="#" class="img-open" id="set_imagemurl" title="Selecionar imagem do computador">Abrir</a>
      <a href="#" class="img-remove" title="Remover imagem">Remover</a>
    </div>
  </div>
</div>
<div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
  <label for="nome">Nome:</label>
  <input type="text" id="nome" name="nome" class="form-control" value="{{ $servico->getNome() }}">
</div>
<div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
  <label for="descricao">Descrição:</label>
  <input type="text" id="descricao" name="descricao" class="form-control" value="{{ $servico->getDescricao() }}">
</div>
<div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
  <label for="detalhes">Detalhes:</label>
  <input type="text" id="detalhes" name="detalhes" class="form-control" value="{{ $servico->getDetalhes() }}">
</div>
<div class="form-group col-lg-2 col-md-4 col-sm-6 col-xs-12">
  <label for="tipo">Tipo:</label>
  <select id="tipo" name="tipo" class="form-control">
    <option value="Evento" {{ $servico->getTipo() == 'Evento'?'selected':'' }}>Evento</option>
    <option value="Taxa" {{ $servico->getTipo() == 'Taxa'?'selected':'' }}>Taxa</option>
  </select>
</div>
<div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-6">
  <label for="datainicio">Data de início:</label>
  <input type="text" id="datainicio" name="datainicio" autocomplete="off" class="datetime-picker form-control" value="{{ $this->datetime($servico->getDataInicio()) }}">
</div>
<div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-6">
  <label for="datafim">Data final:</label>
  <input type="text" id="datafim" name="datafim" autocomplete="off" class="datetime-picker form-control" value="{{ $this->datetime($servico->getDataFim()) }}">
</div>
<div class="form-group col-lg-2 col-md-2 col-sm-6 col-xs-6">
  <label for="valor">Valor:</label>
  <input type="text" id="valor" name="valor" class="numeric form-control text-right" data-a-sep="." data-a-dec="," data-a-sign="{{ $currency->getSimbolo() }} " value="{{ $servico->getValor() }}">
</div>
<div class="form-group col-lg-2 col-md-2 col-sm-2 col-xs-6">
  <div class="checkbox">
    <label>
      <input type="checkbox" id="obrigatorio" name="obrigatorio" value="Y" {{ $servico->getObrigatorio() == 'Y'?'checked':'' }}>
      Obrigatório
    </label>
  </div>
</div>
<div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
  <label for="tempolimite" title="Tempo máximo que o cliente pode utilizar o serviço sem obrigação de pagar">Tempo limite (min):</label>
  <input type="text" id="tempolimite" name="tempolimite" class="numeric form-control text-right" data-a-sep="" data-m-dec="0" value="{{ $servico->getTempoLimite() }}">
</div>
<div class="form-group col-lg-2 col-md-2 col-sm-2 col-xs-6">
  <div class="checkbox">
    <label>
      <input type="checkbox" id="individual" name="individual" value="Y" {{ $servico->getIndividual() == 'Y' ? 'checked' : '' }}>
      Individual
    </label>
  </div>
</div>
<div class="form-group col-lg-2 col-md-2 col-sm-2 col-xs-6">
  <div class="checkbox">
    <label>
      <input type="checkbox" id="ativo" name="ativo" value="Y" {{ $servico->getAtivo() == 'Y' ? 'checked' : '' }}>
      Ativo
    </label>
  </div>
</div>