<div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
  <label for="set_logourl">Logo:</label>
  <div id="logourl_container" class="image-view third-effect" style="height: 128px;">
    <label for="image_header" class="lbltitle">
      <img src="{{ $carteira->makeLogoURL() }}" no-picture="{{ $carteira->makeLogoURL(true) }}" height="128" alt="Logo" title="Logo"/>
    </label>
    <input class="upload" type="file" id="raw_logourl" name="raw_logourl" accept="image/x-png, image/jpeg"/>
    <input type="hidden" name="logourl" value="{{ $carteira->getLogoURL() }}" />
    <div class="mask">
      <a href="#" class="img-open" id="set_logourl" title="Selecionar imagem do computador">Abrir</a>
      <a href="#" class="img-remove" title="Remover imagem">Remover</a>
    </div>
  </div>
</div>
<div class="form-group col-lg-3 col-md-6 col-sm-6 col-xs-12">
  <label for="descricao">Descrição:</label>
  <input type="text" id="descricao" name="descricao" class="form-control" value="{{ $carteira->getDescricao() }}">
</div>
<div class="form-group col-lg-3 col-md-6 col-sm-6 col-xs-12">
  <label for="tipo">Tipo:</label>
  <select id="tipo" name="tipo" class="form-control">
{% for $value, $text in $tipo_options %}
    <option value="{{ $value }}" {{ $carteira->getTipo() == $value ? 'selected': '' }}>{{ $text }}</option>
{% endfor %}
  </select>
</div>
<div class="form-group col-lg-3 col-md-6 col-sm-6 col-xs-12">
  <label for="carteiraid">Carteira superior:</label>
  <select class="form-control" id="carteiraid" name="carteiraid">
    <option value="" {{ is_null($carteira->getCarteiraID())?'selected':'' }}>Não informada</option>
{% for $_carteira in $_carteiras %}
      {% if $carteira->getID() == $_carteira->getID() %}{% continue %}
      {% endif %}
    <option value="{{ $_carteira->getID() }}" {{ $carteira->getCarteiraID() == $_carteira->getID()?'selected':'' }}>{{ $_carteira->getDescricao() }}</option>
{% endfor %}
  </select>
</div>
<input type="hidden" id="bancoid_ref" name="bancoid" data-content="{{ $banco_id_obj->getRazaoSocial() }}" value="{{ $carteira->getBancoID() }}" data-agenciamascara="{{ $banco_id_obj->getAgenciaMascara() }}" data-contamascara="{{ $banco_id_obj->getContaMascara() }}">
<div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
  <label for="bancoid"><span>Banco: </span><span class="identifier">{{ $banco_id_obj->getNumero() }}<span></label>
  <input type="text" id="bancoid" class="form-control" placeholder="Procurar pelo nome ou número..." value="{{ $banco_id_obj->getRazaoSocial() }}">
</div>
<div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
  <label for="agencia" data-agencia="Agência:" data-servico="Serviço:">Agência:</label>
  <input type="text" id="agencia" name="agencia" class="form-control" value="{{ $carteira->getAgencia() }}">
</div>
<div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
  <label for="conta">Conta:</label>
  <input type="text" id="conta" name="conta" class="form-control" value="{{ $carteira->getConta() }}">
</div>
<div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
  <label for="transacao">Valor cobrado por transação:</label>
  <input type="text" id="transacao" name="transacao" class="numeric form-control text-right" data-a-sep="." data-a-dec="," data-a-sign="R$ " value="{{ $carteira->getTransacao() }}">
</div>
<div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
  <label for="limite">Limite de crédito:</label>
  <input type="text" id="limite" name="limite" class="numeric form-control text-right" data-a-sep="." data-a-dec="," data-a-sign="R$ " value="{{ $carteira->getLimite() }}">
</div>
<div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
  <label for="token">Token da API de integração:</label>
  <input type="text" id="token" name="token" class="form-control" value="{{ $carteira->getToken() }}" autocomplete="false">
</div>
<div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
  <label for="ambiente">Ambiente da API:</label>
  <select id="ambiente" name="ambiente" class="form-control">
    <option value="" {{ !array_key_exists($carteira->getAmbiente(), $ambiente_options) ? 'selected': '' }}>Não informado</option>
{% for $value, $text in $ambiente_options %}
    <option value="{{ $value }}" {{ $carteira->getAmbiente() == $value ? 'selected': '' }}>{{ $text }}</option>
{% endfor %}
  </select>
</div>
<div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
  <label for="cor">Cor:</label>
  <input type="text" id="cor" name="cor" class="form-control" value="{{ $carteira->getCor() }}" autocomplete="false">
</div>
<div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
  <div class="checkbox">
    <label>
      <input type="checkbox" id="ativa" name="ativa" value="Y" {{ $carteira->getAtiva() == 'Y'?'checked':'' }}> Ativa
    </label>
  </div>
</div>
