<div class="form-group col-lg-6 col-md-4 col-sm-12 col-xs-12">
  <label for="detalhes">Detalhes:</label>
  <input type="text" id="detalhes" name="detalhes" class="form-control" value="{{ $credito->getDetalhes() }}">
</div>
<div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
  <label for="valor">Valor:</label>
  <input type="text" id="valor" name="valor" class="numeric form-control text-right" data-a-sep="." data-a-dec="," data-a-sign="{{ $currency->getSimbolo() }} " value="{{ $credito->getValor() }}">
</div>
{% $_cliente = $credito->findClienteID() %}
<input type="hidden" id="clienteid_ref" name="clienteid" data-nome="{{ $_cliente->getNomeCompleto() }}" value="{{ $_cliente->getID() }}">
<div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
  <label for="clienteid">
    <span>Cliente:
    </span>
    <span class="identifier">{{ \MZ\Util\Mask::phone($_cliente->getFone(1)) }}
    </span>
  </label>
  <input type="text" id="clienteid" class="form-control" value="{{ $_cliente->getNomeCompleto() }}">
</div>