{{ include('header_gerenciar.twig') }}
<script type="text/javascript">
  $(function () {
    Gerenciar.pais.initForm('{{ $focusctrl }}');
  });
</script>
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>País
          <small>Cadastro de país</small>
        </h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <br/>
        <form id="pais-form" class="form-horizontal form-label-left" method="post" action="/gerenciar/pais/cadastrar" enctype="multipart/form-data">
          {{ include('form_pais.twig') }}
          <div class="form-group">
            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
              <div class="ln_solid"></div>
              <button type="submit" class="btn btn-success">Cadastrar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{{ include('footer_gerenciar.twig') }}