{{ include('header_gerenciar.twig') }}
<script type="text/javascript">
  $(function () {
    Gerenciar.pedido.init();
  });
</script>
<div class="row">
  <div class="page-title">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
      <h3>Pedidos</h3>
    </div>
    <form method="get" action="/gerenciar/pedido/" id="search-form">
      <div class="col-lg-2 col-md-3 col-sm-3 col-xs-6 form-group">
        <label>Módulo:</label>
        <select class="form-control" id="tipo" name="tipo">
          <option value="" {{ !array_key_exists($this->get('tipo'), $_tipo_names) ? 'selected': '' }}>Todos</option>
          {% for $value, $text in $_tipo_names %}
            <option value="{{ $value }}" {{ $this->get('tipo') == $value ? 'selected': '' }}>{{ $text }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-3 col-xs-6 form-group">
        <label>Estado:</label>
        <select class="form-control" id="estado" name="estado">
          <option value="" {{ !array_key_exists($this->get('estado'), $_estado_names) ? 'selected': '' }}>Todos</option>
          {% for $value, $text in $_estado_names %}
            <option value="{{ $value }}" {{ $this->get('estado') == $value ? 'selected': '' }}>{{ $text }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group col-lg-3 col-md-4 col-sm-4 col-xs-6">
        <label for="inicio">Data inicial:</label>
        <input type="text" id="inicio" name="apartir_criacao" autocomplete="off" class="datetime-picker form-control" value="{{ $this->get('apartir_criacao') }}">
      </div>
      <div class="form-group col-lg-3 col-md-2 col-sm-2 col-xs-6">
        <label for="fim">Data final:</label>
        <input type="text" id="fim" name="ate_criacao" autocomplete="off" class="datetime-picker form-control" value="{{ $this->get('ate_criacao') }}">
      </div>
      {% $_funcao = $_funcionario->findFuncaoID() %}
      {% $_cliente_func = $_funcionario->findClienteID() %}
      <input type="hidden" id="funcionarioid_ref" name="funcionarioid" data-content="{{ $_cliente_func->getNomeCompleto() }}" value="{{ $_funcionario->getID() }}">
      <div class="form-group col-lg-3 col-md-3 col-sm-3 col-xs-6 col-lg-offset-2">
        <label for="funcionarioid">Atendente:
          <span class="identifier">{{ $_funcao->getDescricao() }}
          </span>
        </label>
        <input type="text" id="funcionarioid" class="form-control" value="{{ $_cliente_func->getNomeCompleto() }}">
      </div>
      <input type="hidden" id="clienteid_ref" name="clienteid" data-nome="{{ $_cliente->getNomeCompleto() }}" value="{{ $_cliente->getID() }}">
      <div class="form-group col-lg-3 col-md-3 col-sm-3 col-xs-6">
        <label for="clienteid">Cliente:
          <span class="identifier">{{ \MZ\Util\Mask::phone($_cliente->getTelefone()->getNumero()) }}
          </span>
        </label>
        <input type="text" id="clienteid" class="form-control" value="{{ $_cliente->getNomeCompleto() }}">
      </div>
      <div class=" form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <label>Busca:</label>
        <div class="input-group">
          <input type="text" class="form-control" id="search" name="search" placeholder="Código, #Sessão ou Observação..." value="{{ $this->get('search') }}">
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit">
              <i class="fa fa-search"></i>
            </button>
          </span>
        </div>
      </div>
      <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;" tabindex="-1"/>
    </form>
  </div>
  <div class="clearfix"></div>
  <div class="">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Pedidos<small></small>
          </h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content x_scroll">
          <table class="table">
            <thead>
              <tr>
                <th>Código</th>
                <th>Destino</th>
                <th class="text-right">Produtos</th>
                <th class="text-right">Comissão</th>
                <th class="text-right">Serviços</th>
                <th class="text-right">Subtotal</th>
                <th class="text-right">Descontos</th>
                <th class="text-right">Total</th>
                <th>Cliente</th>
                <th class="text-center">Sessão/Caixa</th>
                <th class="text-center">Atendente</th>
                <th class="text-center">Data e hora</th>
              </tr>
            </thead>
            <tbody>
              {% for $pedido in $pedidos %}
                <tr class="{{ $pedido->isCancelado() ? 'danger': '' }}">
                  <td>
                    <div title="{{ $_tipo_names[$pedido->getTipo()] }}" class="cell-icon pedido-icons" style="background-position: -{{ $_pedido_icon[$pedido->getTipo()] }}px 0px;"></div>
                    <a href="/gerenciar/produto_pedido/?search={{ $pedido->getID() }}" title="Visualizar produtos e serviços">{{ $pedido->getID() }}</a>
                  </td>
                  {% $_comanda = $pedido->findComandaID() %}
                  {% $_mesa = $pedido->findMesaID() %}
                  <td>{{ $pedido->getTipo() == \MZ\Sale\Pedido::TIPO_ENTREGA && is_null($pedido->getLocalizacaoID())?'Viagem':($pedido->getTipo() == \MZ\Sale\Pedido::TIPO_MESA?$_mesa->getNome():($pedido->getTipo() == \MZ\Sale\Pedido::TIPO_COMANDA?$_comanda->getNome():$_tipo_names[$pedido->getTipo()])) }}</td>
                  {% $_info = $pedido->findTotal() %}
                  <td class="text-right">{{ $this->currency($_info['produtos']) }}</td>
                  <td class="text-right">{{ $this->currency($_info['comissao']) }}</td>
                  <td class="text-right">{{ $this->currency($_info['servicos']) }}</td>
                  <td class="text-right">{{ $this->currency($_info['subtotal']) }}</td>
                  <td class="text-right">{{ $this->currency($_info['descontos']) }}</td>
                  <td class="text-right">
                    <strong>{{ $this->currency($_info['total']) }}</strong>
                  </td>
                  {% $_cliente = $pedido->findClienteID() %}
                  <td>
                    <a href="/gerenciar/cliente/editar?id={{ $_cliente->getID() }}" title="Editar cliente '{{ $_cliente->getNomeCompleto() }}'">{{ $_cliente->getNomeCompleto() }}</a>
                  </td>
                  {% $_sessao = $pedido->findSessaoID() %}
                  <td class="text-center">
                    <strong>
                      <a href="/gerenciar/pedido/?search=%23{{ $_sessao->getID() }}" title="Pedidos da sessão '{{ $_sessao->getID() }}'">{{ $_sessao->getID() }}</a>
                    </strong>
                    {% $_movimentacao = $pedido->findMovimentacaoID() %}
                    {% $_caixa = $_movimentacao->findCaixaID() %}
                    <small>
                      <a href="/gerenciar/caixa/editar?id={{ $_caixa->getID() }}" title="Editar caixa '{{ $_caixa->getDescricao() }}'">{{ $_caixa->getDescricao() }}</a>
                    </small>
                  </td>
                  {% $_funcionario = $pedido->findFuncionarioID() %}
                  {% $_cliente = $_funcionario->findClienteID() %}
                  <td class="text-center">
                    <a href="/gerenciar/funcionario/editar?id={{ $_funcionario->getID() }}" title="Editar funcionário '{{ $_cliente->getNomeCompleto() }}'">{{ $_cliente->getNomeCompleto() }}</a>
                  </td>
                  <td class="text-center">{{ $this->datetime($pedido->getDataCriacao()) }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          {{ include('pagination.twig') }}
        </div>
      </div>
    </div>
  </div>
</div>
{{ include('footer_gerenciar.twig') }}