{{ include('header_gerenciar.twig') }}
<script type="text/javascript">
  $(function () {
    Gerenciar.carteira.initForm('{{ $focusctrl }}');
  });
</script>
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Carteira
          <small>Editando carteira:
            {{ $old_carteira->getDescricao() }}</small>
        </h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <br/>
        <form id="carteira-form" class="form-horizontal form-label-left" method="post" action="/gerenciar/carteira/editar?id={{ $carteira->getID() }}" enctype="multipart/form-data">
          {{ include('form_carteira.twig') }}
          <div class="form-group">
            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
              <div class="ln_solid"></div>
              <button type="submit" class="btn btn-success">Salvar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{{ include('footer_gerenciar.twig') }}