      </div>
      <!-- /page content -->
    </div>
  </div>

  <div id="custom_notifications" class="custom-notifications dsp_none">
    <ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group">
    </ul>
    <div class="clearfix"></div>
    <div id="notif-group" class="tabbed_notifications"></div>
  </div>

  <script src="/static/js/switchery/switchery.min.js"></script>
  <script src="/static/js/nicescroll/jquery.nicescroll.min.js"></script>
  <script src="/static/js/custom.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/auto.numeric.min.js"></script>
  <script src="/static/js/inputmask.min.js"></script>
  <script src="/static/js/jquery.datetimepicker.full.min.js"></script>
  <script src="/static/js/jquery.maskedinput.min.js"></script>
  <script src="/static/js/jquery.autocomplete.min.js"></script>
  <script src="/static/js/simplebar.min.js"></script>
  <script src="/static/js/jquery.ddslick.js"></script>
  <script src="/static/js/raphael.js"></script>
  <script src="/static/js/Treant.js"></script>
  <script src="${auto_version('/static/js/index.min.js')}"></script>
</body>

</html>