	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<span class="copyright">Copyright &copy; GrandChef ${date('Y')}</span>
				</div>
				<div class="col-md-4">
					<ul class="list-inline social-buttons">
<!--{if !is_null($__empresa__->getTwitterURL())}-->
						<li><a href="{$__empresa__->getTwitterURL()}"><i class="fa fa-twitter"></i></a></li>
<!--{/if}-->
<!--{if !is_null($__empresa__->getFacebookURL())}-->
						<li><a href="{$__empresa__->getFacebookURL()}"><i class="fa fa-facebook"></i></a></li>
<!--{/if}-->
<!--{if !is_null($__empresa__->getLinkedInURL())}-->
						<li><a href="{$__empresa__->getLinkedInURL()}"><i class="fa fa-linkedin"></i></a></li>
<!--{/if}-->
					</ul>
				</div>
				<div class="col-md-4">
					<ul class="list-inline quicklinks">
						<li><a href="/sobre/privacidade">Privacidade</a>
						</li>
						<li><a href="/sobre/termos">Termos de Uso</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
	<script src="/static/js/index.min.js"></script>
</body>
</html>