<div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
	<label for="set_imagem">Foto:</label>
	<div id="imagem_container" class="image-view third-effect" data-foto="Foto:" data-logomarca="Logomarca:" style="height: 150px;">
		<label for="image_header" class="lbltitle">
			<img src="${get_image_url($cliente->getImagem(), 'cliente', 'cliente.png')}" no-picture="${get_image_url(null, 'cliente', 'cliente.png')}" height="150" alt="Foto" title="Foto"/>
		</label>
		<input class="upload" type="file" id="raw_imagem" name="raw_imagem" accept="image/x-png, image/jpeg"/>
		<input type="hidden" name="imagem" value="{$cliente->getImagem()}" />
		<div class="mask">
			<a href="#" class="img-open" id="set_imagem" title="Selecionar imagem do computador">Abrir</a>
			<a href="#" class="img-remove" title="Remover imagem">Remover</a>
		</div>
	</div>
</div>
<div class="form-group col-lg-2 col-md-4 col-sm-3 col-xs-12">
	<label for="tipo">Tipo:</label>
	<select id="tipo" name="tipo" class="form-control">
		<option value="Fisica" ${$cliente->getTipo() == 'Fisica'?'selected':''}>Física</option>
		<option value="Juridica" ${$cliente->getTipo() == 'Juridica'?'selected':''}>Jurídica</option>
	</select>
</div>
<div class="form-group col-lg-3 col-md-4 col-sm-3 col-xs-12">
	<label for="login">Login:</label>
	<input type="text" id="login" name="login" class="form-control" value="{$cliente->getLogin()}">
</div>
<div class="form-group col-lg-2 col-md-4 col-sm-3 col-xs-6">
	<label for="senha">Senha:</label>
	<input type="password" id="senha" name="senha" class="form-control" value="">
</div>
<div class="form-group col-lg-2 col-md-4 col-sm-3 col-xs-6">
	<label>Confirmar senha:</label>
	<input type="password" id="confirmarsenha" name="confirmarsenha" class="form-control" placeholder="Repita a senha">
</div>
<div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
	<label for="nome">Nome:</label>
	<input type="text" id="nome" name="nome" class="form-control" value="{$cliente->getNome()}" data-nome="Nome:" data-fantasia="Fantasia:">
</div>
<div class="form-group col-lg-3 col-md-4 col-sm-5 col-xs-12">
	<label for="sobrenome">Sobrenome:</label>
	<input type="text" id="sobrenome" name="sobrenome" class="form-control" value="{$cliente->getSobrenome()}" data-sobrenome="Sobrenome:" data-razaosocial="Razão social:">
</div>
<div class="form-group col-lg-3 col-md-4 col-sm-4 col-xs-12">
	<label>Gênero:</label>
	<div id="genero">
		<label class="radio-inline" for="genero-masculino">
			<input type="radio" id="genero-masculino" name="genero" value="Masculino" ${$cliente->getGenero() == 'Masculino'?'checked':''}>Masculino
		</label>
		<label class="radio-inline" for="genero-feminino">
			<input type="radio" id="genero-feminino" name="genero" value="Feminino" ${$cliente->getGenero() == 'Feminino'?'checked':''}>Feminino
		</label>
	</div>
</div>
<div class="form-group col-lg-3 col-md-4 col-sm-3 col-xs-6">
	<label for="cpf">${_p('Titulo', 'CPF')}:</label>
	<input type="text" id="cpf" name="cpf" class="form-control masked" mask="${_p('Mascara', 'CPF')}" mask-cnpj="${_p('Mascara', 'CNPJ')}" value="${$cliente->getTipo() == ClienteTipo::JURIDICA?\MZ\Util\Mask::cnpj($cliente->getCPF()):\MZ\Util\Mask::cpf($cliente->getCPF())}" data-cpf="${_p('Titulo', 'CPF')}:" data-cnpj="${_p('Titulo', 'CNPJ')}:">
</div>
<div class="form-group col-lg-3 col-md-4 col-sm-4 col-xs-6">
	<label for="rg">Registro geral (RG):</label>
	<input type="text" id="rg" name="rg" class="form-control" value="{$cliente->getRG()}" data-rg="Registro geral (RG):" data-ie="Inscrição estadual:">
</div>
<div class="form-group col-lg-3 col-md-4 col-sm-4 col-xs-12">
	<label for="im">Inscrição municipal:</label>
	<input type="text" id="im" name="im" class="form-control" value="{$cliente->getIM()}">
</div>
<div class="form-group col-lg-3 col-md-3 col-sm-8 col-xs-12">
	<label for="email">E-mail:</label>
	<input type="text" id="email" name="email" class="form-control" value="{$cliente->getEmail()}">
</div>
<div class="form-group col-lg-2 col-md-3 col-sm-4 col-xs-12">
	<label for="dataaniversario">Data de aniversário:</label>
	<input type="text" id="dataaniversario" name="dataaniversario" class="date-picker form-control" value="${is_empty($cliente->getDataAniversario())?'':date('d/m/Y', strtotime($cliente->getDataAniversario()))}" data-niver="Data de aniversário:" data-fund="Data de fundação:">
</div>
<div class="form-group col-lg-2 col-md-3 col-sm-4 col-xs-6">
	<label for="fone1">Telefone:</label>
	<input type="text" id="fone1" name="fone1" class="form-control masked" mask="${_p('Mascara', 'Telefone')}" value="${\MZ\Util\Mask::phone($cliente->getFone(1))}">
</div>
<div class="form-group col-lg-2 col-md-3 col-sm-4 col-xs-6">
	<label for="fone2">Celular:</label>
	<input type="text" id="fone2" name="fone2" class="form-control masked" mask="${_p('Mascara', 'Telefone')}" value="${\MZ\Util\Mask::phone($cliente->getFone(2))}">
</div>
<div class="form-group col-lg-4 col-md-9 col-sm-9 col-xs-12">
	<label for="slogan">Observação:</label>
	<input type="text" id="slogan" name="slogan" class="form-control" value="{$cliente->getSlogan()}" data-obs="Observação:" data-slogan="Slogan:">
</div>
<div class="form-group col-lg-2 col-md-3 col-sm-3 col-xs-12">
	<label for="limitecompra">Limite de compra:</label>
	<input type="text" id="limitecompra" name="limitecompra" class="numeric form-control text-right" data-a-sep="." data-a-dec="," data-a-sign="{$__moeda__->getSimbolo()} " value="{$cliente->getLimiteCompra()}">
</div>
<div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
	<label for="facebookurl">Facebook:</label>
	<input type="text" id="facebookurl" name="facebookurl" class="form-control" value="{$cliente->getFacebookURL()}">
</div>
<div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
	<label for="twitterurl">Twitter:</label>
	<input type="text" id="twitterurl" name="twitterurl" class="form-control" value="{$cliente->getTwitterURL()}">
</div>
<div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
	<label for="linkedinurl">Linkedin:</label>
	<input type="text" id="linkedinurl" name="linkedinurl" class="form-control" value="{$cliente->getLinkedInURL()}">
</div>