<!--{include header_gerenciar}-->
<script type="text/javascript">$(function(){Gerenciar.banco.init();});</script>
<div class="">
	<div class="page-title">
		<div class="title_left">
		<h3>Bancos <small>Visualizar bancos</small></h3>
		</div>
		<div class="title_right">
			<form method="get" action="/gerenciar/banco/" id="search-form">
				<div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right">
					<div class="input-group">
						<input type="text" class="form-control" id="query" placeholder="Razaão social ou Número..." value="{$_GET['query']}">
						<span class="input-group-btn">
							<button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
						</span>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="x_panel">
				<div class="x_title">
					<h2>Bancos<small></small></h2>
					<a href="/gerenciar/banco/cadastrar">
						<button type="button" class="btn btn-info pull-right">Cadastrar</button>
					</a>
					<div class="clearfix"></div>
				</div>
				<div class="x_content x_scroll">
					<table class="table">
						<thead>
							<tr>
								<th>Razão social</th>
								<th>Número</th>
								<th>Máscara</th>
								<th width="10%" style="text-align: center;">Ações</th>
							</tr>
						</thead>
						<tbody>
<!--{loop $bancos $banco}-->
							<tr>
								<td>{$banco->getRazaoSocial()}</td>
								<td>{$banco->getNumero()}</td>
								<td>
									<strong title="Máscara da agência">{$banco->getAgenciaMascara()}</strong>
									<small title="Máscara da conta">{$banco->getContaMascara()}</small>
								</td>
								<td class="text-center">
									<ul class="nav panel_toolbox">
										<li>
											<a href="/gerenciar/banco/editar?id={$banco->getID()}" title="Editar banco '{$banco->getRazaoSocial()}'"><i class="fa fa-edit"></i></a>
										</li>
										<li>
											<a href="/gerenciar/banco/excluir?id={$banco->getID()}" title="Excluir banco '{$banco->getRazaoSocial()}'" class="ajaxlink" ask="Deseja excluir o banco '{$banco->getRazaoSocial()}'?"><i class="fa fa-close"></i></a>
										</li>
									</ul>
								</td>
							</tr>
<!--{/loop}-->
						</tbody>
					</table>
					{$pagestring}
				</div>
			</div>
		</div>
	</div>
</div>	
<!--{include footer_gerenciar}-->