<!--{include header_gerenciar_sistema}-->
<script type="text/javascript">$(function(){Gerenciar.cliente.initForm('{$focusctrl}');});</script>
<script type="text/javascript">$(function(){Gerenciar.localizacao.initForm('{$focusctrl}');});</script>
<script type="text/javascript">$(function(){Gerenciar.sistema.initEmpresa('{$focusctrl}');});</script>
<div role="tabpanel" class="tab-pane fade active in" id="tab_enterprise" aria-labelledby="enterprise-tab">
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="x_panel">
				<div class="row x_title">
					<div class="col-md-12">
						<h3>Empresa <small>Informações da empresa</small></h3>
					</div>
				</div>
				<div class="x_content">
					<form id="cliente-form" class="form-horizontal form-label-left" method="post" action="/gerenciar/cliente/${!is_null($cliente->getID())?'editar?id='.$cliente->getID().'&':'cadastrar?sistema=1'}" enctype="multipart/form-data" data-cliente-id="{$cliente->getID()}">
						<span class="section col-md-12 col-sm-12 col-xs-12">Empresa</span>
<!--{include form_cliente}-->
					</form>
					<form id="localizacao-form" class="form-horizontal form-label-left" method="post" action="/gerenciar/localizacao/${!is_null($localizacao->getID())?'editar?id='.$localizacao->getID():'cadastrar'}">
						<span class="section col-md-12 col-sm-12 col-xs-12">Endereço</span>
<!--{include form_localizacao}-->
					</form>
					<div class="form-group">
						<div class="col-md-12 col-sm-12 col-xs-12 text-center">
							<div class="ln_solid"></div>
							<button id="save-button" class="btn btn-success">Salvar</button>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</div>
<!--{include footer_gerenciar_sistema}-->