<!--{include header_gerenciar}-->
<script type="text/javascript">$(function(){Gerenciar.cliente.init();});</script>
<div class="row">
	<div class="page-title">
		<div class="col-lg-6 col-md-4 col-sm-4 col-xs-6">
			<h3>Clientes</h3>
		</div>
		<form id="search-form" action="/gerenciar/cliente/" method="get">
			<div class="form-group col-lg-2 col-md-4 col-sm-4 col-xs-6">
				<label for="tipo">Genero:</label>
				<select class="form-control" id="tipo" name="genero">
					${Utility::Option($tipos, $_GET['genero'], 'Todos')}
				</select>
			</div>
			<div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<label>Busca:</label>
				<div class="input-group">
					<input type="text" class="form-control" id="query" name="query" placeholder="Nome, Telefone, E-mail ou CPF..." value="${\MZ\Util\Filter::input(isset($_GET['query'])?$_GET['query']:null)}">
					<span class="input-group-btn">
						<button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
					</span>
				</div>
			</div>
		</form>
	</div>
	<div class="clearfix"></div>
	<div class="">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="x_panel">
				<div class="x_title">
					<h2>Clientes<small></small></h2>
					<a href="/gerenciar/cliente/cadastrar">
						<button type="button" class="btn btn-info pull-right">Cadastrar</button>
					</a>
					<div class="clearfix"></div>
				</div>
				<div class="x_content x_scroll">
					<table class="table">
						<thead>
							<tr>
								<th>Nome</th>
								<th class="text-center">Telefone</th>
								<th class="text-center">Login/E-mail</th>
<!--${$_genero_names = array()}-->
<!--${$_genero_names['Masculino'] = 'Masculino'}-->
<!--${$_genero_names['Feminino'] = 'Feminino'}-->
								<th>Gênero</th>
								<th class="text-center">${_p('Titulo', 'CPF')}/${_p('Titulo', 'CNPJ')}</th>
								<th class="text-center">Data de cadastro</th>
								<th width="10%" style="text-align: center;">Ações</th>
							</tr>
						</thead>
						<tbody>
<!--{loop $clientes $cliente}-->
							<tr>
								<td><a href="/gerenciar/cliente/editar?id={$cliente->getID()}" title="Editar cliente '{$cliente->getNomeCompleto()}'"><img src="${get_image_url($cliente->getImagem(), 'cliente', $cliente->getTipo() == ClienteTipo::JURIDICA?'empresa.png':'cliente.png')}" class="${$cliente->getTipo() == ClienteTipo::FISICA?'rounded':''}" height="48" alt="Foto" title="Foto"/><strong>{$cliente->getNomeCompleto()}</strong></a></td>
								<td class="text-center">
									<strong>${\MZ\Util\Mask::phone($cliente->getFone(1))}</strong>
									<small title="Celular">${\MZ\Util\Mask::phone($cliente->getFone(2))}</small>
								</td>
								<td class="text-center">
									<strong>{$cliente->getLogin()}</strong>
									<small>{$cliente->getEmail()}</small>
								</td>
								<td>${$cliente->getTipo() == ClienteTipo::JURIDICA?'Empresa':$_genero_names[$cliente->getGenero()]}</td>
								<td class="text-center">
<!--{if $cliente->getTipo() == ClienteTipo::JURIDICA}-->
									<strong>${\MZ\Util\Mask::cnpj($cliente->getCPF())}</strong>
									<small title="Inscrição estadual">{$cliente->getRG()}</small>
<!--{else}-->
									<strong>${\MZ\Util\Mask::cpf($cliente->getCPF())}</strong>
									<small title="RG">{$cliente->getRG()}</small>
<!--{/if}-->
								</td>
								<td class="text-center">
									<strong title="Data de cadastro">${is_null($cliente->getDataCadastro())?'':date('d/m/Y H:i', strtotime($cliente->getDataCadastro()))}</strong>
<!--{if $cliente->getTipo() == ClienteTipo::JURIDICA}-->
									<small title="Data de fundação">${is_null($cliente->getDataAniversario())?'':date('d/m/Y', strtotime($cliente->getDataAniversario()))}</small>
<!--{else}-->
									<small title="Data de aniversário">${is_null($cliente->getDataAniversario())?'':human_date($cliente->getDataAniversario())}</small>
<!--{/if}-->
								</td>
								<td class="text-center">
									<ul class="nav panel_toolbox">
										<li>
											<a href="/gerenciar/cliente/editar?id={$cliente->getID()}" title="Editar cliente '{$cliente->getNomeCompleto()}'"><i class="fa fa-edit"></i></a>
										</li>
										<li>
											<a href="/gerenciar/cliente/excluir?id={$cliente->getID()}" title="Excluir cliente '{$cliente->getNomeCompleto()}'" class="ajaxlink" ask="Deseja excluir o cliente '{$cliente->getNomeCompleto()}'?"><i class="fa fa-close"></i></a>
										</li>
									</ul>
								</td>
							</tr>
<!--{/loop}-->
						</tbody>
					</table>
					{$pagestring}
				</div>
			</div>
		</div>
	</div>
</div>	
<!--{include footer_gerenciar}-->