public/include/compiled/
public/include/logs/*.txt
public/static/doc/xml/*/*/*.xml
public/static/doc/cert/*.pem
public/static/doc/integracao/*.json
utils/*.sublime-workspace
utils/tmp/generated
utils/tmp/coverage
public/include/vendor
*.lock
build
etc/nginx/grandchef.location
storage/
.env
.vscode/