{{ include('header.twig') }}
<script type="text/javascript">
  $(function (){{ $('#email').focus(); }});
</script>
<!-- Contact Section -->
<section id="signin" style="background-image: url('{{ get_site_image_url('Image.Login') }}');">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Acesse sua conta</h2>
      </div>
    </div>
    <div class="row">
      <form id="login-form" class="form-horizontal form-label-left" action="/conta/entrar" method="post">
        {{ include('form_login.twig') }}
      </form>
    </div>
  </div>
</section>
{{ include('footer.twig') }}