                  </td>
                  <td width="36"></td>
                </tr>
                <tr>
                  <td colspan="3" height="30"></td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td colspan="3" height="1">
              <div style="background-color: #EEEEEE;height:1px; margin-left:5px; margin-right:5px;"></div>
            </td>
          </tr>
          <tr>
            <td colspan="3" height="20"></td>
          </tr>
          <tr>
            <td>
              <table cellspacing="0" cellpadding="0" border="0">
                <tr>
                  <td width="36"></td>
                  <td valign="top" width="454px" align="left" style="color:#444444;border-collapse:collapse;font-size:11pt;font-family:proxima_nova,'Open Sans','Lucida Grande','Segoe UI',Arial,Verdana,'Lucida Sans Unicode',Tahoma,'Sans Serif';max-width:454px">
                    Atenciosamente<br/>
                    <b>{{ $from_name }}</b>
                  </td>
                  <td width="36"></td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td colspan="3" height="10"></td>
          </tr>
          {% if $automatico %}
            <tr>
              <td valign="top" align="center">
                <p style="color: #c0c0c0; font-size: 11px; text-align:center;">Este é um e-mail automático disparado pelo sistema.</p>
              </td>
            </tr>
          {% endif %}
          <tr>
            <td colspan="3" height="10"></td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>