      </div>
      <!-- /page content -->
    </div>
  </div>
  <div id="custom_notifications" class="custom-notifications dsp_none">
    <ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group">
    </ul>
    <div class="clearfix"></div>
    <div id="notif-group" class="tabbed_notifications"></div>
  </div>
  <script src="/static/js/manager.min.js"></script>
  <script type="text/javascript">
    {% $thunder = \Thunder::execute() %}
    var n = [
      {% for $message in $thunder %}
        {
          type: '{{ $message['type'] }}',
          msg: '{{ $message['text'] }}',
          auto_close: {{ $message['auto_close'] }}
        },
      {% endfor %}
    ];
    $(function () {
      Notification.show(n);
    });
  </script>
</body>
</html>