<div class="form-group col-lg-4 col-md-3 col-sm-3 col-xs-12">
	<label for="nome">Nome:</label>
	<input type="text" id="nome" name="nome" class="form-control" value="{{ $unidade->getNome() }}">
</div>
<div class="form-group col-lg-4 col-md-6 col-sm-6 col-xs-12">
	<label for="descricao">Descrição:</label>
	<input type="text" id="descricao" name="descricao" class="form-control" value="{{ $unidade->getDescricao() }}">
</div>
<div class="form-group col-lg-4 col-md-3 col-sm-3 col-xs-12">
	<label for="sigla">Sigla:</label>
	<input type="text" id="sigla" name="sigla" class="form-control" value="{{ $unidade->getSigla() }}">
</div>
