<!--{include header_gerenciar}-->
<script type="text/javascript">$(function(){Gerenciar.pais.init();});</script>
<div class="row">
	<div class="page-title">
		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
			<h3>Paises</h3>
		</div>
		<form method="get" action="/gerenciar/pais/" id="search-form">
			<div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-6">
				<label for="classificacaoid">Moeda:</label>
				<select class="form-control" id="moedaid" name="moedaid">
<!--{loop $moedas $_moeda}-->
					<option value="{$_moeda->getID()}" ${isset($_GET['moedaid']) && $_GET['moedaid'] == $_moeda->getID()?'selected':''}>{$_moeda->getNome()}</option>
<!--{/loop}-->
				</select>
			</div>
			<div class="form-group col-lg-5 col-md-5 col-sm-5 col-xs-12">
				<label for="query">Nome ou Sigla:</label>
				<div class="input-group">
					<input type="text" class="form-control" id="query" name="search" placeholder="Procurar..." value="${\MZ\Util\Filter::input($_GET, 'search')}">
					<span class="input-group-btn">
						<button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
					</span>
				</div>
			</div>
		</form>
	</div>
	<div class="clearfix"></div>
	<div class="">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="x_panel">
				<div class="x_title">
					<h2>Paises<small></small></h2>
					<ul class="nav navbar-right panel_toolbox hidden-print">
						<li>
							<a href="/gerenciar/pais/cadastrar" title="Novo país">
								<i class="fa fa-plus-square"></i>
							</a>
						</li>
					</ul>
					<div class="clearfix"></div>
				</div>
				<div class="x_content x_scroll">
					<table class="table">
						<thead>
							<tr>
								<th>Nome</th>
								<th>Sigla</th>
								<th>Moeda</th>
								<th>Linguagem ID</th>
								<th>Unitário</th>
								<th width="10%" style="text-align: center;">Ações</th>
							</tr>
						</thead>
						<tbody>
<!--{loop $paises $pais}-->
							<tr>
								<td>
									<div class="cell-icon pais-icons" style="background-position: -{$pais->getBandeiraIndex() * 16}px 0px;"></div>
									{$pais->getNome()}
								</td>
								<td>{$pais->getSigla()}</td>
<!--${$_moeda = $pais->findMoedaID()}-->
								<td><a href="/gerenciar/moeda/editar?id={$_moeda->getID()}" title="Editar moeda '{$_moeda->getNome()}'">{$_moeda->getNome()}</a></td>
								<td>{$pais->getLinguagemID()}</td>
								<td>${$pais->getUnitario() == 'Y'?'Sim':'Não'}</td>
								<td class="text-center">
									<ul class="nav panel_toolbox">
										<li>
											<a href="/gerenciar/pais/editar?id={$pais->getID()}" title="Editar país '{$pais->getNome()}'"><i class="fa fa-edit"></i></a>
										</li>
										<li>
											<a href="/gerenciar/pais/excluir?id={$pais->getID()}" title="Excluir país '{$pais->getNome()}'" class="ajaxlink" ask="Deseja excluir o país '{$pais->getNome()}'?"><i class="fa fa-close"></i></a>
										</li>
									</ul>
								</td>
							</tr>
<!--{/loop}-->
						</tbody>
					</table>
					{$pagestring}
				</div>
			</div>
		</div>
	</div>
</div>	
<!--{include footer_gerenciar}-->