<!--{include header_gerenciar}-->
<script type="text/javascript">$(function(){Gerenciar.forma_pagto.init();});</script>
<div class="row">
	<div class="page-title">
		<div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
			<h3>Formas de pagamento</h3>
		</div>
		<form method="get" action="/gerenciar/forma_pagto/" id="search-form">
			<div class="form-group col-lg-2 col-md-3 col-sm-6 col-xs-6">
				<label for="estado">Estado:</label>
				<select class="form-control" id="estado" name="estado">
					${Utility::Option($estados, $_GET['estado'], 'Todos')}
				</select>
			</div>
			<div class="form-group col-lg-2 col-md-3 col-sm-6 col-xs-12">
				<label for="tipo">Tipo:</label>
				<select class="form-control" id="tipo" name="tipo">
					${Utility::Option($tipos, $_GET['tipo'], 'Todos')}
				</select>
			</div>
			<div class="form-group col-lg-4 col-md-12 col-sm-6 col-xs-12">
				<label for="query">Descrição:</label>
				<div class="input-group">
					<input type="text" class="form-control" id="query" name="search" placeholder="Procurar..." value="${\MZ\Util\Filter::input($_GET, 'search')}">
					<span class="input-group-btn">
						<button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
					</span>
				</div>
			</div>
		</form>
	</div>
	<div class="clearfix"></div>
	<div class="">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="x_panel">
				<div class="x_title">
					<h2>Formas de pagamento<small></small></h2>
					<ul class="nav navbar-right panel_toolbox hidden-print">
						<li>
							<a href="/gerenciar/forma_pagto/cadastrar" title="Nova forma de pagamento">
								<i class="fa fa-plus-square"></i>
							</a>
						</li>
					</ul>
					<div class="clearfix"></div>
				</div>
				<div class="x_content x_scroll">
					<table class="table">
						<thead>
							<tr>
								<th>Descrição</th>
								<th>Carteiras</th>
								<th>Parcelas</th>
								<th width="10%" style="text-align: center;">Ações</th>
							</tr>
						</thead>
						<tbody>
<!--{loop $formas_de_pagamento $forma_pagto}-->
							<tr ${$forma_pagto->isAtiva()?'':'class="active"'}>
								<td>
									<strong>{$forma_pagto->getDescricao()}</strong>
									<small>{$tipos[$forma_pagto->getTipo()]}</small>
								</td>
								<td>
<!--${$_carteira = $forma_pagto->findCarteiraID()}-->
									<strong><a href="/gerenciar/carteira/editar?id={$_carteira->getID()}" title="Editar carteira de entrada '{$_carteira->getDescricao()}'">{$_carteira->getDescricao()}</a></strong>
<!--${$_carteira = $forma_pagto->findCarteiraPagtoID()}-->
									<small><a href="/gerenciar/carteira/editar?id={$_carteira->getID()}" title="Editar carteira de saída '{$_carteira->getDescricao()}'">{$_carteira->getDescricao()}</a></small>
								</td>
								<td>
<!--{if $forma_pagto->isParcelado()}-->
									<strong>de {$forma_pagto->getMinParcelas()} até {$forma_pagto->getMaxParcelas()}</strong>
									<small>Após {$forma_pagto->getParcelasSemJuros()}, juros de {$forma_pagto->getJuros()}%</small>
<!--{else}-->
									Não parcelado
<!--{/if}-->
								</td>
								<td class="text-center">
									<ul class="nav panel_toolbox">
										<li>
											<a href="/gerenciar/forma_pagto/editar?id={$forma_pagto->getID()}" title="Editar forma de pagamento '{$forma_pagto->getDescricao()}'"><i class="fa fa-edit"></i></a>
										</li>
										<li>
											<a href="/gerenciar/forma_pagto/excluir?id={$forma_pagto->getID()}" title="Excluir forma de pagamento '{$forma_pagto->getDescricao()}'" class="ajaxlink" ask="Deseja excluir a forma de pagamento '{$forma_pagto->getDescricao()}'?"><i class="fa fa-close"></i></a>
										</li>
									</ul>
								</td>
							</tr>
<!--{/loop}-->
						</tbody>
					</table>
					{$pagestring}
				</div>
			</div>
		</div>
	</div>
</div>	
<!--{include footer_gerenciar}-->