<!--{include header_gerenciar}-->
<script type="text/javascript">$(function(){Gerenciar.categoria.init();});</script>
<div class="row">
	<div class="page-title">
		<div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
			<h3>Categorias</h3>
		</div>
		<form method="get" action="/gerenciar/categoria/" id="search-form">
			<div class="form-group col-lg-4 col-md-4 col-sm-3 col-xs-12">
				<label for="categoria">Categoria:</label>
				<select class="form-control" id="categoria" name="categoria">
					${Utility::Option($sup_categorias, $_GET['categoria'], 'Todas')}
				</select>
			</div>
			<div class="form-group col-lg-4 col-md-5 col-sm-6 col-xs-12">
				<label for="query">Busca:</label>
				<div class="input-group">
					<input type="text" class="form-control" id="query" name="query" placeholder="Procurar..." value="${\MZ\Util\Filter::input(isset($_GET['query'])?$_GET['query']:null)}">
					<span class="input-group-btn">
						<button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
					</span>
				</div>
			</div>
		</form>
	</div>
	<div class="clearfix"></div>
	<div class="">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="x_panel">
				<div class="x_title">
					<h2>Categorias<small></small></h2>
					<ul class="nav navbar-right panel_toolbox hidden-print">
						<li>
							<a href="/gerenciar/categoria/cadastrar" title="Nova categoria">
								<i class="fa fa-plus-square"></i>
							</a>
						</li>
					</ul>
					<div class="clearfix"></div>
				</div>
				<div class="x_content x_scroll">
					<table class="table">
						<thead>
							<tr>
								<th>Descrição</th>
								<th>Serviço</th>
								<th width="10%" class="text-center">Ações</th>
							</tr>
						</thead>
						<tbody>
<!--{loop $categorias $categoria}-->
							<tr>
								<td class="product-cell"><strong><a href="/gerenciar/categoria/editar?id={$categoria->getID()}" title="Editar categoria '{$categoria->getDescricao()}'"><img src="${get_image_url($categoria->getImagem(), 'categoria', 'categoria.png')}" height="48" alt="Imagem" title="Imagem"/>{$categoria->getDescricao()}</a></strong>
<!--${$_categoria = ZCategoria::getPeloID($categoria->getCategoriaID())}-->
									<small><a href="/gerenciar/categoria/editar?id={$_categoria->getID()}" title="Editar categoria '{$_categoria->getDescricao()}'">{$_categoria->getDescricao()}</a></small>
								</td>
								<td>${$categoria->getServico() == 'Y'?'Sim':'Não'}</td>
								<td class="text-center">
									<ul class="nav panel_toolbox">
										<li>
											<a href="/gerenciar/categoria/editar?id={$categoria->getID()}" title="Editar categoria '{$categoria->getDescricao()}'"><i class="fa fa-edit"></i></a>
										</li>
										<li>
											<a href="/gerenciar/categoria/excluir?id={$categoria->getID()}" title="Excluir categoria '{$categoria->getDescricao()}'" class="ajaxlink" ask="Deseja excluir a categoria '{$categoria->getDescricao()}'?"><i class="fa fa-close"></i></a>
										</li>
									</ul>
								</td>
							</tr>
<!--{/loop}-->
						</tbody>
					</table>
					{$pagestring}
				</div>
			</div>
		</div>
	</div>
</div>	
<!--{include footer_gerenciar}-->