<!--{include header_gerenciar}-->
<script type="text/javascript">$(function(){Gerenciar.produto.init();});</script>
<div class="row">
	<div class="page-title">
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
			<h3>Produtos</h3>
		</div>
		<form method="get" action="/gerenciar/produto/" id="search-form">
			<div class="form-group col-lg-2 col-md-2 col-sm-2 col-xs-6">
				<label for="tipo">Tipo:</label>
				<select class="form-control" id="tipo" name="tipo">
					${Utility::Option($tipos, $_GET['tipo'], 'Todos')}
				</select>
			</div>
			<div class="form-group col-lg-2 col-md-3 col-sm-3 col-xs-6">
				<label for="unidade">Unidade:</label>
				<select class="form-control" id="unidade" name="unidade_id">
					${Utility::Option($unidades, $_GET['unidade_id'], 'Todas')}
				</select>
			</div>
			<div class="form-group col-lg-2 col-md-5 col-sm-5 col-xs-6">
				<label for="categoria">Categoria:</label>
				<select class="form-control" id="categoria" name="categoria_id">
					${Utility::Option($categorias, $_GET['categoria_id'], 'Todas')}
				</select>
			</div>
			<div class="form-group col-lg-4 col-md-12 col-sm-12 col-xs-6">
				<label for="query">Busca:</label>
				<div class="input-group">
					<input type="text" class="form-control" id="search" name="search" placeholder="Descrição ou Código..." value="${\MZ\Util\Filter::input($_GET, 'search')}">
					<span class="input-group-btn">
						<button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
					</span>
				</div>
			</div>
		</form>
	</div>
	<div class="clearfix"></div>
	<div class="">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="x_panel">
				<div class="x_title">
					<h2>Produtos<small></small></h2>
					<ul class="nav navbar-right panel_toolbox hidden-print">
						<li>
							<a href="/gerenciar/produto/cadastrar" title="Novo produto">
								<i class="fa fa-plus-square"></i>
							</a>
						</li>
					</ul>
					<div class="clearfix"></div>
				</div>
				<div class="x_content x_scroll">
					<table class="table">
						<thead>
							<tr>
								<th>Descrição</th>
								<th>Preço</th>
								<th>Categoria</th>
								<th>Unidade / Tipo</th>
								<th width="10%" style="text-align: center;">Ações</th>
							</tr>
						</thead>
						<tbody>
<!--{loop $produtos $produto}-->
							<tr ${$produto->isVisivel()?'':'class="active"'}>
								<td class="product-cell"><a href="/gerenciar/produto/editar?id={$produto->getID()}" title="Editar produto '{$produto->getDescricao()}'"><img src="${get_image_url($produto->getImagem(), 'produto', 'produto.png')}" height="48" alt="Imagem" title="Imagem"/></a>
								<strong>{$produto->getDescricao()}</strong><small>{$produto->getAbreviacao()}</small></td>
								<td>${\MZ\Util\Mask::money($produto->getPrecoVenda(), true)}</td>
<!--${$_categoria = $produto->findCategoriaID()}-->
<!--${$_setor = $produto->findSetorPreparoID()}-->
								<td><strong><a href="/gerenciar/categoria/editar?id={$_categoria->getID()}" title="Editar categoria '{$_categoria->getDescricao()}'">{$_categoria->getDescricao()}</a></strong><small><a href="/gerenciar/setor/editar?id={$_setor->getID()}" title="Editar setor de preparo '{$_setor->getNome()}'">{$_setor->getNome()}</a></small></td>
<!--${$_unidade = $produto->findUnidadeID()}-->
								<td><strong><a href="/gerenciar/unidade/editar?id={$_unidade->getID()}" title="Editar unidade '{$_unidade->getNome()}'">{$_unidade->getNome()}</a></strong>
									<small>{$tipos[$produto->getTipo()]}</small>
								</td>
								<td class="text-center">
									<ul class="nav panel_toolbox">
<!--{if $produto->getTipo() == \MZ\Product\Produto::TIPO_COMPOSICAO}-->
										<li>
											<a href="/gerenciar/produto/diagrama?id={$produto->getID()}" title="Visualizar diagrama da composição '{$produto->getDescricao()}'"><i class="fa fa-info-circle"></i></a>
										</li>
<!--{/if}-->
										<li>
											<a href="/gerenciar/produto/editar?id={$produto->getID()}" title="Editar produto '{$produto->getDescricao()}'"><i class="fa fa-edit"></i></a>
										</li>
										<li>
											<a href="/gerenciar/produto/excluir?id={$produto->getID()}" title="Excluir produto '{$produto->getDescricao()}'" class="ajaxlink" ask="Deseja excluir o produto '{$produto->getDescricao()}'?"><i class="fa fa-close"></i></a>
										</li>
									</ul>
								</td>
							</tr>
<!--{/loop}-->
						</tbody>
					</table>
					{$pagestring}
				</div>
			</div>
		</div>
	</div>
</div>	
<!--{include footer_gerenciar}-->