<!--{include header_gerenciar}-->
<script type="text/javascript">$(function(){Gerenciar.cidade.init();});</script>
<div class="row">
	<div class="page-title">
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
			<h3>Cidades</h3>
		</div>
		<form id="search-form" action="/gerenciar/cidade/" method="get">
			<div class="form-group col-lg-3 col-md-5 col-sm-5 col-xs-12">
				<label for="paisid"><div class="cell-icon pais-icons" style="background-position: ${-(is_null($pais->getID())?-1:$pais->getBandeiraIndex()) * 16}px 0px;"></div>País:</label>
				<select class="form-control" id="paisid" name="pais">
					<option value="" data-bandeira="-1">Todos</option>
			<!--{loop $_paises $_pais}-->
					<option value="{$_pais->getSigla()}" data-id="{$_pais->getID()}" data-bandeira="{$_pais->getBandeiraIndex()}" data-codigo="{$_pais->getCodigo()}" data-sigla="{$_pais->getSigla()}" ${$pais->getID() == $_pais->getID()?'selected':''}>{$_pais->getNome()}</option>
			<!--{/loop}-->
				</select>
			</div>
			<div class="form-group col-lg-3 col-md-5 col-sm-5 col-xs-12">
				<label for="estadoid">Estado:</label>
				<select class="form-control" id="estadoid" name="estado">
					<option value="" data-sigla="">Todos</option>
			<!--{loop $_estados $_estado}-->
					<option value="{$_estado->getUF()}" data-id="{$_estado->getID()}" data-sigla="{$_estado->getUF()}" ${$estado->getID() == $_estado->getID()?'selected':''}>{$_estado->getNome()}</option>
			<!--{/loop}-->
				</select>
			</div>
			<div class="form-group col-lg-4 col-md-12 col-sm-12 col-xs-12">
				<label>Nome:</label>
				<div class="input-group">
					<input type="text" class="form-control" id="query" name="query" placeholder="Procurar..." value="${\MZ\Util\Filter::input($_GET, 'query')}">
					<span class="input-group-btn">
						<button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
					</span>
				</div>
			</div>
		</form>
	</div>
	<div class="clearfix"></div>
	<div class="">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="x_panel">
				<div class="x_title">
					<h2>Cidades<small></small></h2>
					<ul class="nav navbar-right panel_toolbox hidden-print">
						<li>
							<a href="/gerenciar/cidade/cadastrar" title="Nova cidade">
								<i class="fa fa-plus-square"></i>
							</a>
						</li>
					</ul>
					<div class="clearfix"></div>
				</div>
				<div class="x_content x_scroll">
					<table class="table">
						<thead>
							<tr>
								<th>Nome</th>
								<th>Estado</th>
								<th>${_p('Titulo', 'CEP')}</th>
								<th width="10%" style="text-align: center;">Ações</th>
							</tr>
						</thead>
						<tbody>
<!--{loop $cidades $cidade}-->
							<tr>
								<td>{$cidade->getNome()}</td>
<!--${$_estado = ZEstado::getPeloID($cidade->getEstadoID())}-->
								<td><a href="/gerenciar/estado/editar?id={$_estado->getID()}" title="Editar estado '{$_estado->getNome()}'">{$_estado->getNome()}</a></td>
								<td>${\MZ\Util\Mask::cep($cidade->getCEP())}</td>
								<td class="text-center">
									<ul class="nav panel_toolbox">
										<li>
											<a href="/gerenciar/cidade/editar?id={$cidade->getID()}" title="Editar cidade '{$cidade->getNome()}'"><i class="fa fa-edit"></i></a>
										</li>
										<li>
											<a href="/gerenciar/cidade/excluir?id={$cidade->getID()}" title="Excluir cidade '{$cidade->getNome()}'" class="ajaxlink" ask="Deseja excluir a cidade '{$cidade->getNome()}'?"><i class="fa fa-close"></i></a>
										</li>
									</ul>
								</td>
							</tr>
<!--{/loop}-->
						</tbody>
					</table>
					{$pagestring}
				</div>
			</div>
		</div>
	</div>
</div>	
<!--{include footer_gerenciar}-->