<!--{include header_gerenciar}-->
<script type="text/javascript">$(function(){Gerenciar.caixa.init();});</script>
<div class="row">
	<div class="page-title">
		<div class="col-lg-6 col-md-5 col-sm-3 col-xs-6">
			<h3>Caixas</h3>
		</div>
		<form method="get" action="/gerenciar/caixa/" id="search-form">
			<div class="form-group col-lg-2 col-md-3 col-sm-4 col-xs-6">
				<label for="estado">Estado:</label>
				<select class="form-control" id="estado" name="estado">
					${Utility::Option($estados, $_GET['estado'], 'Todos')}
				</select>
			</div>
			<div class="form-group col-lg-4 col-md-4 col-sm-5 col-xs-12">
				<label for="query">Busca:</label>
				<div class="input-group">
					<input type="text" class="form-control" id="query" name="query" placeholder="Procurar..." value="${\MZ\Util\Filter::input(isset($_GET['query'])?$_GET['query']:null)}">
					<span class="input-group-btn">
						<button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
					</span>
				</div>
			</div>
		</form>
	</div>
	<div class="clearfix"></div>
	<div class="">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="x_panel">
				<div class="x_title">
					<h2>Caixas<small></small></h2>
					<a href="/gerenciar/caixa/cadastrar">
						<button type="button" class="btn btn-info pull-right">Cadastrar</button>
					</a>
					<div class="clearfix"></div>
				</div>
				<div class="x_content x_scroll">
					<table class="table">
						<thead>
							<tr>
								<th>Descrição</th>
								<th width="10%" style="text-align: center;">Ações</th>
							</tr>
						</thead>
						<tbody>
<!--{loop $caixas $caixa}-->
							<tr ${$caixa->isAtivo()?'':'class="active"'}>
								<td>{$caixa->getDescricao()}</td>
								<td class="text-center">
									<ul class="nav panel_toolbox">
										<li>
											<a href="/gerenciar/caixa/editar?id={$caixa->getID()}" title="Editar caixa '{$caixa->getDescricao()}'"><i class="fa fa-edit"></i></a>
										</li>
										<li>
											<a href="/gerenciar/caixa/excluir?id={$caixa->getID()}" title="Excluir caixa '{$caixa->getDescricao()}'" class="ajaxlink" ask="Deseja excluir o caixa '{$caixa->getDescricao()}'?"><i class="fa fa-close"></i></a>
										</li>
									</ul>
								</td>
							</tr>
<!--{/loop}-->
						</tbody>
					</table>
					{$pagestring}
				</div>
			</div>
		</div>
	</div>
</div>	
<!--{include footer_gerenciar}-->