{{ include('header_gerenciar') }}
<script type="text/javascript">$(function(){Gerenciar.pagina.init();});</script>
<div class="">
	<div class="page-title">
		<div class="title_left">
		<h3>Páginas <small>Visualizar páginas</small></h3>
		</div>
		<div class="title_right">
			<form method="get" action="/gerenciar/pagina/" id="search-form">
				<div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<label for="nome">Página:</label>
					<select class="form-control" id="nome" name="nome">
						<option value="" {{ !array_key_exists($this->get('nome'), $nomes) ? 'selected': '' }}>Todas</option>
{% for $value, $text in $nomes %}
						<option value="{{ $value }}" {{ $this->get('nome') == $value ? 'selected': '' }}>{{ $text }}</option>
{% endfor %}
					</select>
				</div>
				<div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<label for="linguagemid">Idioma:</label>
					<select class="form-control" id="linguagemid" name="linguagemid">
						<option value="" {{ !array_key_exists($this->get('linguagemid'), $linguagens) ? 'selected': '' }}>Todos</option>
{% for $value, $text in $linguagens %}
						<option value="{{ $value }}" {{ $this->get('linguagemid') == $value ? 'selected': '' }}>{{ $text }}</option>
{% endfor %}
					</select>
				</div>
			</form>
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="x_panel">
				<div class="x_title">
					<h2>Páginas<small></small></h2>
					<ul class="nav navbar-right panel_toolbox hidden-print">
						<li>
							<a href="/gerenciar/pagina/cadastrar" title="Nova página">
								<i class="fa fa-plus-square"></i>
							</a>
						</li>
					</ul>
					<div class="clearfix"></div>
				</div>
				<div class="x_content x_scroll">
					<table class="table">
						<thead>
							<tr>
								<th>Nome</th>
								<th>Linguagem</th>
								<th width="10%" style="text-align: center;">Ações</th>
							</tr>
						</thead>
						<tbody>
{% for $pagina in $paginas %}
							<tr>
								<td>{{ $nomes[$pagina->getNome()] }}</td>
								<td>{{ $linguagens[$pagina->getLinguagemID()] }}</td>
								<td class="text-center">
									<ul class="nav panel_toolbox">
										<li>
											<a href="/gerenciar/pagina/editar?id={{ $pagina->getID() }}" title="Editar página '{{ $pagina->getNome() }}'"><i class="fa fa-edit"></i></a>
										</li>
										<li>
											<a href="/gerenciar/pagina/excluir?id={{ $pagina->getID() }}" title="Excluir página '{{ $pagina->getNome() }}'" class="ajaxlink" ask="Deseja excluir a página '{{ $pagina->getNome() }}'?"><i class="fa fa-close"></i></a>
										</li>
									</ul>
								</td>
							</tr>
{% endfor %}
						</tbody>
					</table>
					{{ include('pagination') }}
				</div>
			</div>
		</div>
	</div>
</div>	
{{ include('footer_gerenciar') }}