{{ include('header_gerenciar') }}
<script type="text/javascript">$(function(){Gerenciar.integracao.cardInit('{{ $integracao->getAcessoURL() }}');});</script>
<div class="row">
	<div class="page-title">
		<div class="col-lg-8 col-md-6 col-sm-6 col-xs-12">
			<h3>Cartões {{ $integracao->getNome() }}</h3>
		</div>
		<form method="get" action="/gerenciar/cartao/{{ $integracao->getAcessoURL() }}" id="search-form">
			<div class="form-group col-lg-4 col-md-6 col-sm-6 col-xs-12">
				<label for="search">Busca:</label>
				<div class="input-group">
					<input type="text" class="form-control" id="search" name="search" placeholder="Descrição..." value="{{ $this->get('search') }}">
					<span class="input-group-btn">
						<button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
					</span>
				</div>
			</div>
		</form>
	</div>
	<div class="clearfix"></div>
	<div class="">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="x_panel">
				<div class="x_title">
					<h2>Cartões<small>Associar cartões</small></h2>
					<ul class="nav navbar-right panel_toolbox hidden-print">
						<li>
							<a href="/gerenciar/produto/{{ $integracao->getAcessoURL() }}" title="Associar produtos">
								<i class="fa fa-cube"></i>
							</a>
						</li>
					</ul>
					<div class="clearfix"></div>
				</div>
				<div class="x_content">
{% for $codigo, $cartao in $codigos %}
{% $associado = $cartao['cartao'] %}
{% $img = isset($_imagens[$associado->getImageIndex()]) ? $_imagens[$associado->getImageIndex()] : ['name' => '', 'id' => 0] %}
					<div class="col-md-6 col-sm-6 col-xs-12 top-row">
						<div class="assoc-item {{ $cartao['status'] }}">
							<div class="assoc-img">
								<div title="{{ $img['name'] }}" class="cell-icon cartao-icons" style="background-position: -{{ $img['id'] * 50 }}px 0px;"></div>
							</div>
							<div class="assoc-info">
								<input type="hidden" id="cartao_{{ $codigo }}_ref" name="cartao[{{ $codigo }}]" data-descricao="{{ $associado->getDescricao() }}" data-codigo="{{ $codigo }}" data-id="{{ $associado->getID() }}" value="{{ $associado->getID() }}">
								<div class="form-group">
									<label for="cartao_{{ $codigo }}">Cartão: <span class="identifier">{{ $cartao['name'] }}</span></label>
									<div class="input-group">
										<input type="text" id="cartao_{{ $codigo }}" class="form-control assoc-input" value="{{ $associado->getDescricao() }}">
										<span class="input-group-btn">
											<button class="btn btn-default disabled" tabindex="-1"><i class="fa fa-{{ $cartao['icon'] }}"></i></button>
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>
{{ include('footer_gerenciar') }}