<!--{include header_gerenciar}-->
<script type="text/javascript">$(function(){Gerenciar.moeda.init();});</script>
<div class="">
	<div class="page-title">
		<div class="title_left">
		<h3>Moedas <small>Visualizar moedas</small></h3>
		</div>
		<div class="title_right">
			<form method="get" action="/gerenciar/moeda/" id="search-form">
				<div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right">
					<div class="input-group">
						<input type="text" class="form-control" id="query" name="query" placeholder="Procurar..." value="${\MZ\Util\Filter::input(isset($_GET['query'])?$_GET['query']:null)}">
						<span class="input-group-btn">
							<button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
						</span>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="x_panel">
				<div class="x_title">
					<h2>Moedas<small></small></h2>
					<ul class="nav navbar-right panel_toolbox hidden-print">
						<li>
							<a href="/gerenciar/moeda/cadastrar" title="Nova moeda">
								<i class="fa fa-plus-square"></i>
							</a>
						</li>
					</ul>
					<div class="clearfix"></div>
				</div>
				<div class="x_content x_scroll">
					<table class="table">
						<thead>
							<tr>
								<th>Nome</th>
								<th>Símbolo</th>
								<th>Código</th>
								<th>Divisão</th>
								<th>Nome da fração</th>
								<th>Formato</th>
								<th width="10%" style="text-align: center;">Ações</th>
							</tr>
						</thead>
						<tbody>
<!--{loop $moedas $moeda}-->
							<tr>
								<td>{$moeda->getNome()}</td>
								<td>{$moeda->getSimbolo()}</td>
								<td>{$moeda->getCodigo()}</td>
								<td>{$moeda->getDivisao()}</td>
								<td>{$moeda->getFracao()}</td>
								<td>{$moeda->getFormato()}</td>
								<td class="text-center">
									<ul class="nav panel_toolbox">
										<li>
											<a href="/gerenciar/moeda/editar?id={$moeda->getID()}" title="Editar moeda '{$moeda->getNome()}'"><i class="fa fa-edit"></i></a>
										</li>
										<li>
											<a href="/gerenciar/moeda/excluir?id={$moeda->getID()}" title="Excluir moeda '{$moeda->getNome()}'" class="ajaxlink" ask="Deseja excluir a moeda '{$moeda->getNome()}'?"><i class="fa fa-close"></i></a>
										</li>
									</ul>
								</td>
							</tr>
<!--{/loop}-->
						</tbody>
					</table>
					{$pagestring}
				</div>
			</div>
		</div>
	</div>
</div>	
<!--{include footer_gerenciar}-->