<!--{include header_gerenciar}-->
<script type="text/javascript">$(function(){Gerenciar.integracao.productInit('{$integracao->getAcessoURL()}');});</script>
<div class="row">
	<div class="page-title">
		<div class="col-lg-8 col-md-6 col-sm-6 col-xs-12">
			<h3>Produtos {$integracao->getNome()}</h3>
		</div>
		<form method="get" action="/gerenciar/produto/{$integracao->getAcessoURL()}" id="search-form">
			<div class="form-group col-lg-4 col-md-6 col-sm-6 col-xs-12">
				<label for="query">Busca:</label>
				<div class="input-group">
					<input type="text" class="form-control" id="query" name="query" placeholder="Descrição ou Código..." value="${\MZ\Util\Filter::input($_GET, 'query')}">
					<span class="input-group-btn">
						<button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
					</span>
				</div>
			</div>
		</form>
	</div>
	<div class="clearfix"></div>
	<div class="">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="x_panel">
				<div class="x_title">
					<h2>Produtos<small>Associar produtos</small></h2>
					<ul class="nav navbar-right panel_toolbox hidden-print">
						<li>
							<a href="/gerenciar/cartao/{$integracao->getAcessoURL()}" title="Associar cartões">
								<i class="fa fa-credit-card"></i>
							</a>
						</li>
					</ul>
					<div class="clearfix"></div>
				</div>
				<div class="x_content">
<!--{loop $produtos $produto}-->
<!--${$associado = $produto['produto']}-->
					<div class="col-md-6 col-sm-6 col-xs-12 top-row">
						<div class="assoc-item {$produto['status']}">
							<div class="assoc-img">
								<img src="${get_image_url($associado->getImagem(), 'produto', 'produto.png')}" height="48" alt="Imagem"/>
							</div>
							<div class="assoc-info">
								<input type="hidden" id="produto_{$produto['codigo']}" name="produto[{$produto['codigo']}]" data-descricao="${\MZ\Util\Filter::input($associado->getDescricao())}" data-codigo="{$produto['codigo']}" data-id="{$associado->getID()}" data-item-count="${count($produto['itens'])}" value="{$associado->getID()}">
								<div class="form-group">
									<label for="produto">Produto: <span class="identifier">{$produto['descricao']}</span><i class="fa fa-remove remove-item" title="Excluir produto da associação"></i></label>
									<div class="input-group">
										<input type="text" id="produto_{$produto['codigo']}_input" class="form-control assoc-input" value="${\MZ\Util\Filter::input($associado->getDescricao())}">
										<span class="input-group-btn">
											<button class="btn btn-default ${is_null($associado->getID()) || count($produto['itens']) == 0?'disabled':''}" tabindex="-1"><i class="fa fa-{$produto['icon']}"></i></button>
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
<!--{/loop}-->
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal" id="edit-pkg" tabindex="-1" role="dialog" aria-labelledby="edit-pkg-label">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="edit-pkg-label">Nome do pacote</h4>
			</div>
			<div class="modal-body">
				<div id="group-list"></div>
				<div class="clearfix"></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
			</div>
		</div>
	</div>
</div>
<!--{include footer_gerenciar}-->