{{ include('header_gerenciar') }}
<script type="text/javascript">$(function(){Gerenciar.cartao.init();});</script>
<div class="row">
	<div class="page-title">
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
			<h3>Cartões</h3>
		</div>
		<form method="get" action="/gerenciar/cartao/" id="search-form">
			<div class="form-group col-lg-2 col-md-2 col-sm-2 col-xs-6">
				<label for="estado">Estado:</label>
				<select class="form-control" id="estado" name="ativo">
					<option value="" {{ !array_key_exists($this->get('ativo'), $estados) ? 'selected': '' }}>Todos</option>
{% for $value, $text in $estados %}
					<option value="{{ $value }}" {{ $this->get('ativo') == $value ? 'selected': '' }}>{{ $text }}</option>
{% endfor %}
				</select>
			</div>
			<div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<label for="search">Descrição:</label>
				<div class="input-group">
					<input type="text" class="form-control" id="search" name="search" placeholder="Procurar..." value="{{ $this->get('search') }}">
					<span class="input-group-btn">
						<button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
					</span>
				</div>
			</div>
		</form>
	</div>
	<div class="clearfix"></div>
	<div class="">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="x_panel">
				<div class="x_title">
					<h2>Cartões<small></small></h2>
					<ul class="nav navbar-right panel_toolbox hidden-print">
						<li>
							<a href="/gerenciar/cartao/cadastrar" title="Novo cartão">
								<i class="fa fa-plus-square"></i>
							</a>
						</li>
					</ul>
					<div class="clearfix"></div>
				</div>
				<div class="x_content x_scroll">
					<table class="table">
						<thead>
							<tr>
								<th>Descrição</th>
								<th>Carteiras</th>
								<th>Mensalidade</th>
								<th>Transação</th>
								<th>Taxa</th>
								<th>Repasse</th>
								<th width="10%" style="text-align: center;">Ações</th>
							</tr>
						</thead>
						<tbody>
{% for $cartao in $cartoes %}
							<tr class="{{ !$cartao->isAtivo() ? 'active': '' }}">
								<td><a href="/gerenciar/cartao/editar?id={{ $cartao->getID() }}" title="Editar cartão '{{ $cartao->getDescricao() }}'"><div title="{{ $_imagens[$cartao->getImageIndex()]['name'] }}" class="cell-icon cartao-icons" style="background-position: -{{ $_imagens[$cartao->getImageIndex()]['id'] * 50 }}px 0px;"></div><strong>{{ $cartao->getDescricao() }}</strong></a></td>
								<td>
{% $_carteira = $cartao->findCarteiraID() %}
									<strong><a href="/gerenciar/carteira/editar?id={{ $_carteira->getID() }}" title="Editar carteira '{{ $_carteira->getDescricao() }}'">{{ $_carteira->getDescricao() }}</a></strong>
{% $_carteira = $cartao->findCarteiraPagtoID() %}
									<small><a href="/gerenciar/carteira/editar?id={{ $_carteira->getID() }}" title="Editar carteira '{{ $_carteira->getDescricao() }}'">{{ $_carteira->getDescricao() }}</a></small>
								</td>
								<td>{{ $this->currency($cartao->getMensalidade()) }}</td>
								<td>{{ $this->currency($cartao->getTransacao()) }}</td>
								<td>{{ $cartao->getTaxa() }}%</td>
								<td>{{ $cartao->getDiasRepasse() }} dias</td>
								<td class="text-center">
									<ul class="nav panel_toolbox">
										<li>
											<a href="/gerenciar/cartao/editar?id={{ $cartao->getID() }}" title="Editar cartão '{{ $cartao->getDescricao() }}'"><i class="fa fa-edit"></i></a>
										</li>
										<li>
											<a href="/gerenciar/cartao/excluir?id={{ $cartao->getID() }}" title="Excluir cartão '{{ $cartao->getDescricao() }}'" class="ajaxlink" ask="Deseja excluir o cartão '{{ $cartao->getDescricao() }}'?"><i class="fa fa-close"></i></a>
										</li>
									</ul>
								</td>
							</tr>
{% endfor %}
						</tbody>
					</table>
					{{ $pagestring }}
				</div>
			</div>
		</div>
	</div>
</div>	
{{ include('footer_gerenciar') }}