<!--{include header_gerenciar}-->
<script type="text/javascript">$(function(){Gerenciar.pedido.init();});</script>
<div class="row">
	<div class="page-title">
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
			<h3>Pedidos</h3>
		</div>
		<form method="get" action="/gerenciar/pedido/" id="search-form">
			<div class="col-lg-2 col-md-3 col-sm-3 col-xs-6 form-group">
				<label>Módulo:</label>
				<select class="form-control" id="tipo" name="tipo">
					${Utility::Option($_tipo_names, $_GET['tipo'], 'Todos')}
				</select>
			</div>
			<div class="col-lg-2 col-md-3 col-sm-3 col-xs-6 form-group">
				<label>Estado:</label>
				<select class="form-control" id="estado" name="estado">
					${Utility::Option($_estado_names, $_GET['estado'], 'Todos')}
				</select>
			</div>
			<div class="form-group col-lg-3 col-md-4 col-sm-4 col-xs-6">
				<label for="inicio">Data inicial:</label>
				<input type="text" id="inicio" name="inicio" class="datetime-picker form-control" value="${\MZ\Util\Filter::input($_GET, 'inicio')}">
			</div>
			<div class="form-group col-lg-3 col-md-2 col-sm-2 col-xs-6">
				<label for="fim">Data final:</label>
				<input type="text" id="fim" name="fim" class="datetime-picker form-control" value="${\MZ\Util\Filter::input($_GET, 'fim')}">
			</div>
<!--${$_funcao = $_funcionario->findFuncaoID()}-->
<!--${$_cliente_func = $_funcionario->findClienteID()}-->
			<input type="hidden" id="funcionarioid" name="funcionarioid" data-content="{$_cliente_func->getNomeCompleto()}" value="{$_funcionario->getID()}">
			<div class="form-group col-lg-3 col-md-3 col-sm-3 col-xs-6 col-lg-offset-2">
				<label for="funcionario">Atendente: <span class="identifier">{$_funcao->getDescricao()}<span></label>
				<input type="text" id="funcionario" class="form-control" value="{$_cliente_func->getNomeCompleto()}">
			</div>
			<input type="hidden" id="clienteid" name="clienteid" data-nome="{$_cliente->getNomeCompleto()}" value="{$_cliente->getID()}">
			<div class="form-group col-lg-3 col-md-3 col-sm-3 col-xs-6">
				<label for="cliente">Cliente: <span class="identifier">${\MZ\Util\Mask::phone($_cliente->getFone(1))}<span></label>
				<input type="text" id="cliente" class="form-control" value="{$_cliente->getNomeCompleto()}">
			</div>
			<div class=" form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<label>Busca:</label>
				<div class="input-group">
					<input type="text" class="form-control" id="query" name="search" placeholder="Código, #Sessão ou Observação..." value="${\MZ\Util\Filter::input($_GET, 'search')}">
					<span class="input-group-btn">
						<button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
					</span>
				</div>
			</div>
			<input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;" tabindex="-1" />
		</form>
	</div>
	<div class="clearfix"></div>
	<div class="">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="x_panel">
				<div class="x_title">
					<h2>Pedidos<small></small></h2>
					<div class="clearfix"></div>
				</div>
				<div class="x_content x_scroll">
					<table class="table">
						<thead>
							<tr>
								<th>Código</th>
								<th>Destino</th>
								<th class="text-right">Produtos</th>
								<th class="text-right">Comissão</th>
								<th class="text-right">Serviços</th>
								<th class="text-right">Subtotal</th>
								<th class="text-right">Descontos</th>
								<th class="text-right">Total</th>
								<th>Cliente</th>
								<th class="text-center">Sessão/Caixa</th>
								<th class="text-center">Atendente</th>
								<th class="text-center">Data e hora</th>
							</tr>
						</thead>
						<tbody>
<!--{loop $pedidos $pedido}-->
							<tr ${$pedido->isCancelado()?'class="danger"':''}>
								<td><div title="{$_tipo_names[$pedido->getTipo()]}" class="cell-icon pedido-icons" style="background-position: -{$_pedido_icon[$pedido->getTipo()]}px 0px;"></div><a href="/gerenciar/produto_pedido/?query={$pedido->getID()}" title="Visualizar produtos e serviços">{$pedido->getID()}</a></td>
<!--${$_comanda = $pedido->findComandaID()}-->
<!--${$_mesa = $pedido->findMesaID()}-->
								<td>${$pedido->getTipo() == Pedido::TIPO_ENTREGA && is_null($pedido->getLocalizacaoID())?'Viagem':($pedido->getTipo() == Pedido::TIPO_MESA?$_mesa->getNome():($pedido->getTipo() == Pedido::TIPO_COMANDA?$_comanda->getNome():$_tipo_names[$pedido->getTipo()]))}</td>
<!--${$_info = Pedido::getTotalDetalhado($pedido->getID(), $pedido->getCancelado())}-->
								<td class="text-right">${\MZ\Util\Mask::money($_info['produtos'], true)}</td>
								<td class="text-right">${\MZ\Util\Mask::money($_info['comissao'], true)}</td>
								<td class="text-right">${\MZ\Util\Mask::money($_info['servicos'], true)}</td>
								<td class="text-right">${\MZ\Util\Mask::money($_info['subtotal'], true)}</td>
								<td class="text-right">${\MZ\Util\Mask::money($_info['descontos'], true)}</td>
								<td class="text-right"><strong>${\MZ\Util\Mask::money($_info['total'], true)}</strong></td>
<!--${$_cliente = $pedido->findClienteID()}-->
								<td><a href="/gerenciar/cliente/editar?id={$_cliente->getID()}" title="Editar cliente '{$_cliente->getNomeCompleto()}'">{$_cliente->getNomeCompleto()}</a></td>
<!--${$_sessao = $pedido->findSessaoID()}-->
								<td class="text-center">
									<strong><a href="/gerenciar/pedido/?query=%23{$_sessao->getID()}" title="Pedidos da sessão '{$_sessao->getID()}'">{$_sessao->getID()}</a></strong>
<!--${$_movimentacao = $pedido->findMovimentacaoID()}-->
<!--${$_caixa = $_movimentacao->findCaixaID()}-->
									<small><a href="/gerenciar/caixa/editar?id={$_caixa->getID()}" title="Editar caixa '{$_caixa->getDescricao()}'">{$_caixa->getDescricao()}</a></small>
								</td>
<!--${$_funcionario = $pedido->findFuncionarioID()}-->
<!--${$_cliente = $_funcionario->findClienteID()}-->
								<td class="text-center"><a href="/gerenciar/funcionario/editar?id={$_funcionario->getID()}" title="Editar funcionário '{$_cliente->getNomeCompleto()}'">{$_cliente->getNomeCompleto()}</a></td>
								<td class="text-center">${is_null($pedido->getDataCriacao())?'':date('d/m/Y H:i:s', strtotime($pedido->getDataCriacao()))}</td>
							</tr>
<!--{/loop}-->
						</tbody>
					</table>
					{$pagestring}
				</div>
			</div>
		</div>
	</div>
</div>	
<!--{include footer_gerenciar}-->