<!--{include header_gerenciar}-->
<script type="text/javascript">$(function(){Gerenciar.integracao.init();});</script>
<div class="row">
	<div class="page-title">
		<div class="col-lg-6 col-md-7 col-sm-6 col-xs-6">
			<h3>Integrações</h3>
		</div>
		<form id="search-form" action="/gerenciar/integracao/" method="get">
			<div class="form-group col-lg-6 col-md-5 col-sm-6 col-xs-6">
				<label for="query">Nome:</label>
				<div class="input-group">
					<input type="text" class="form-control" id="search" name="search" placeholder="Procurar..." value="${\MZ\Util\Filter::input($_GET, 'search')}">
					<span class="input-group-btn">
						<button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
					</span>
				</div>
			</div>
		</form>
	</div>
	<div class="clearfix"></div>
	<div class="">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="x_panel">
				<div class="x_content">
					<table class="table">
						<thead>
							<tr>
								<th>Nome</th>
								<th>Descrição</th>
								<th width="10%" class="text-center">Ações</th>
							</tr>
						</thead>
						<tbody>
<!--{loop $integracoes $integracao}-->
							<tr ${$integracao->isAtivo()?'':'class="active"'}>
								<td>
									<img src="{$integracao->makeIconeURL()}" height="48" alt="Imagem"/></a>
									<div style="display: inline-block;">
										<label>
											<input type="checkbox" class="js-switch" name="ativo" data-id="{$integracao->getID()}" value="Y" ${$integracao->isAtivo()?'checked':''}/> {$integracao->getNome()}
										</label>
									</div>
								</td>
								<td>{$integracao->getDescricao()}</td>
								<td class="text-center">
									<ul class="nav panel_toolbox">
										<li>
											<a href="/gerenciar/produto/{$integracao->getAcessoURL()}" title="Associar produtos"><i class="fa fa-cube"></i></a>
										</li>
										<li>
											<a href="/gerenciar/cartao/{$integracao->getAcessoURL()}" title="Associar cartões"><i class="fa fa-credit-card"></i></a>
										</li>
										<li>
											<a href="/gerenciar/integracao/editar?id={$integracao->getID()}" title="Editar Integração '${\MZ\Util\Filter::input($integracao->getNome())}'"><i class="fa fa-edit"></i></a>
										</li>
									</ul>
								</td>
							</tr>
<!--{/loop}-->
						</tbody>
					</table>
					{$pagestring}
				</div>
			</div>
		</div>
	</div>
</div>	
<!--{include footer_gerenciar}-->