{{ include('header_gerenciar') }}
<script type="text/javascript">$(function(){Gerenciar.estoque.init();});</script>
<div class="row">
	<div class="page-title">
		<div class="col-lg-4 col-md-8 col-sm-8 col-xs-6">
			<h3>Estoque</h3>
		</div>
		<form method="get" action="/gerenciar/estoque/" id="search-form">
			<div class="form-group col-lg-2 col-md-4 col-sm-4 col-xs-6">
				<label for="tipo">Tipo de movimento:</label>
				<select id="tipo" name="tipo" class="form-control">
					<option value="" {{ !array_key_exists($this->get('tipo'), $tipos) ? 'selected': '' }}>Todos</option>
{% for $value, $text in $tipos %}
					<option value="{{ $value }}" {{ $this->get('tipo') == $value ? 'selected': '' }}>{{ $text }}</option>
{% endfor %}
				</select>
			</div>
{% $_cliente_fornecedor = $_fornecedor->findEmpresaID() %}
			<input type="hidden" id="fornecedorid_ref" name="fornecedorid" data-nome="{{ $_cliente_fornecedor->getNome() }}" value="{{ $_fornecedor->getID() }}">
			<div class="form-group col-lg-3 col-md-6 col-sm-6 col-xs-12">
				<label for="fornecedorid">Fornecedor: <span class="identifier">{{ \MZ\Util\Mask::phone($_cliente_fornecedor->getFone(1)) }}<span></label>
				<input type="text" id="fornecedorid" class="form-control" value="{{ $_cliente_fornecedor->getNome() }}">
			</div>
{% $_categoria = $_produto->findCategoriaID() %}
			<input type="hidden" id="produtoid_ref" name="produtoid" data-descricao="{{ $_produto->getDescricao() }}" value="{{ $_produto->getID() }}">
			<div class="form-group col-lg-3 col-md-6 col-sm-6 col-xs-12">
				<label for="produtoid">Produto: <span class="identifier">{{ $_categoria->getDescricao() }}<span></label>
				<div class="input-group">
					<input type="text" id="produtoid" class="form-control" value="{{ $_produto->getDescricao() }}">
					<span class="input-group-btn">
						<button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
					</span>
				</div>
			</div>
			<input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;" tabindex="-1" />
		</form>
	</div>
	<div class="clearfix"></div>
	<div class="">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="x_panel">
				<div class="x_title">
					<h2>Estoques<small></small></h2>
					<div class="clearfix"></div>
				</div>
				<div class="x_content x_scroll">
					<table class="table">
						<thead>
							<tr>
								<th>Produto</th>
								<th>Fornecedor</th>
								<th>Movimento</th>
								<th>Quantidade</th>
								<th>Preço de compra</th>
								<th>Lote</th>
								<th>Data de fabricação</th>
								<th>Detalhes</th>
								<th>Data de movimento</th>
								<th width="10%" style="text-align: center;">Ações</th>
							</tr>
						</thead>
						<tbody>
{% for $estoque in $estoques %}
							<tr class="{{ $estoque->isCancelado() ? 'active': '' }}">
{% $_produto = $estoque->findProdutoID() %}
								<td class="product-cell">
									<strong><a href="/gerenciar/produto/editar?id={{ $_produto->getID() }}" title="Editar produto '{{ $_produto->getDescricao() }}'"><img src="{{ get_image_url($_produto->getImagem(), 'produto', 'produto.png') }}" height="48" alt="Imagem" title="Imagem"/>{{ $_produto->getDescricao() }}</a></strong>
									<small>{{ $_produto->getAbreviacao() }}</small></td>
{% $_fornecedor = $estoque->findFornecedorID() %}
{% $_empresa = $_fornecedor->findEmpresaID() %}
								<td class="product-cell">
{% if $_fornecedor->exists() %}
									<strong><a href="/gerenciar/fornecedor/editar?id={{ $_fornecedor->getID() }}" title="Editar fornecedor '{{ $_empresa->getNomeCompleto() }}'"><img src="{{ get_image_url($_empresa->getImagem(), 'cliente', 'empresa.png') }}" height="48" alt="Foto" title="Foto"/>{{ $_empresa->getNomeCompleto() }}</a></strong>
{% endif %}
{% $_setor = $estoque->findSetorID() %}
									<small title="Setor de entrada/saída"><a href="/gerenciar/setor/editar?id={{ $_setor->getID() }}" title="Editar setor '{{ $_setor->getNome() }}'">{{ $_setor->getNome() }}</a></small>
								</td>
								<td>{{ $tipos[$estoque->getTipoMovimento()] }}</td>
								<td>{{ $estoque->getQuantidade() }}</td>
								<td>{{ $this->currency($estoque->getPrecoCompra()) }}</td>
								<td>{{ $estoque->getLote() }}</td>
								<td>
									<strong title="Data de fabricação">{{ $this->datetime($estoque->getDataFabricacao()) }}</strong>
									<small title="Data de vencimento">{{ $this->datetime($estoque->getDataVencimento()) }}</small>
								</td>
								<td>{{ $estoque->getDetalhes() }}</td>
								<td>{{ $this->datetime($estoque->getDataMovimento()) }}</td>
								<td class="text-center">
									<ul class="nav panel_toolbox">
{% if $estoque->getTipoMovimento() == \MZ\Stock\Estoque::TIPO_MOVIMENTO_ENTRADA && !$estoque->isCancelado() %}
										<li>
											<a href="/gerenciar/estoque/cancelar?id={{ $estoque->getID() }}" title="Cancelar estoque '{{ $_produto->getDescricao() }}'" class="ajaxlink" ask="Deseja cancelar a entrada no estoque '{{ $_produto->getDescricao() }}'?"><i class="fa fa-ban"></i></a>
										</li>
{% endif %}
									</ul>
								</td>
							</tr>
{% endfor %}
						</tbody>
					</table>
					{{ $pagestring }}
				</div>
			</div>
		</div>
	</div>
</div>	
{{ include('footer_gerenciar') }}