{{ include('header_gerenciar') }}
<script type="text/javascript">$(function(){Gerenciar.funcionario.initForm('{{ $focusctrl }}');});</script>
<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="x_panel">
			<div class="x_title">
				<h2>Funcionário <small>Editando funcionário: {{ $cliente_func->getNomeCompleto() }}</small></h2>
				<ul class="nav navbar-right panel_toolbox">
					<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
					</li>
					<li><a class="close-link"><i class="fa fa-close"></i></a>
					</li>
				</ul>
				<div class="clearfix"></div>
			</div>
			<div class="x_content">
				<br />
				<form id="funcionario-form" class="form-horizontal form-label-left" method="post" action="/gerenciar/funcionario/editar?id={{ $funcionario->getID() }}" enctype="multipart/form-data">
{{ include('form_funcionario') }}
					<div class="form-group">
						<div class="col-md-12 col-sm-12 col-xs-12 text-center">
							<div class="ln_solid"></div>
							<button type="submit" class="btn btn-success">Salvar</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{{ include('footer_gerenciar') }}