<!--{include header_gerenciar}-->
<script>
	var data = [
<!--{loop $nos $index $no}-->
<!--${$_produto = $no['produto']}-->
<!--${$_composicao = $no['composicao']}-->
<!--${$_unidade = $_produto->findUnidadeID()}-->
<!--${$ref = 'pai'.$index}-->
		{$ref} = {
<!--{if !is_null($_composicao->getComposicaoID())}-->
			parent: pai{$_composicao->getComposicaoID()},
<!--{/if}-->
			text: {
				name: '${single_quotes($_produto->getAbreviado())}',
				title: '${quantify($_composicao->getQuantidade(), $_unidade->getSigla(), $_produto->getConteudo())} = ${\MZ\Util\Mask::money($_composicao->getValor() * $_composicao->getQuantidade(), true)}',
			},
			image: '${get_image_url($_produto->getImagem(), 'produto', 'produto.png')}'
		},
<!--{/loop}-->
	];
</script>
<script type="text/javascript">$(function(){Gerenciar.produto.initDiagram(data);});</script>
<div class="row">
	<div class="page-title">
		<div class="text-center col-xs-12">
			<h3>Diagrama de custo <small>{$produto->getDescricao()}</small></h3>
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="diagrama" id="diagrama-produto"></div>
	</div>
</div>
<!--{include footer_gerenciar}-->