{{ include('header_gerenciar_sistema') }}
<script type="text/javascript">$(function(){Gerenciar.sistema.printInit();});</script>
<div role="tabpanel" class="tab-pane fade active in" id="tab_impressao" aria-labelledby="impressao-tab">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="row x_title">
          <div class="col-md-12">
            <h3>Impressão <small>Opções de impressão</small></h3>
          </div>
        </div>
				<span class="section col-md-12 col-sm-12 col-xs-12">Aparência</span>
        <div class="col-lg-12 col-sm-12 col-xs-12">
          <div class="form-group">
            <div class="col-lg-4 col-sm-6 col-xs-12">
{% for $index, $opcao in $opcoes_aparencia %}
{% if $index % 9 == 0 && $index > 0 %}
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-12">
{% endif %}
              <div class="">
                <label>
                  <input type="checkbox" class="js-switch" name="marcado" data-section="{{ $opcao['section'] }}" data-key="{{ $opcao['key'] }}" value="Y" {{ is_boolean_config($opcao['section'], $opcao['key'], $opcao['default'])?'checked':'' }}/> {{ $opcao['title'] }}
                </label>
              </div>
{% endfor %}
            </div>
          </div>
        </div>
				<span class="section col-md-12 col-sm-12 col-xs-12">Guias</span>
        <div class="col-lg-12 col-sm-12 col-xs-12">
          <div class="form-group">
            <div class="col-lg-4 col-sm-6 col-xs-12">
{% for $index, $opcao in $opcoes_guias %}
{% if $index % 3 == 0 && $index > 0 %}
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-12">
{% endif %}
              <div class="">
                <label>
                  <input type="checkbox" class="js-switch" name="marcado" data-section="{{ $opcao['section'] }}" data-key="{{ $opcao['key'] }}" value="Y" {{ is_boolean_config($opcao['section'], $opcao['key'], $opcao['default'])?'checked':'' }}/> {{ $opcao['title'] }}
                </label>
              </div>
{% endfor %}
            </div>
          </div>
        </div>
				<span class="section col-md-12 col-sm-12 col-xs-12">Comportamento</span>
        <div class="col-lg-12 col-sm-12 col-xs-12">
          <div class="form-group">
            <div class="col-lg-4 col-sm-6 col-xs-12">
{% for $index, $opcao in $opcoes_comportamento %}
{% if $index % 1 == 0 && $index > 0 %}
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-12">
{% endif %}
              <div class="">
                <label>
                  <input type="checkbox" class="js-switch" name="marcado" data-section="{{ $opcao['section'] }}" data-key="{{ $opcao['key'] }}" value="Y" {{ is_boolean_config($opcao['section'], $opcao['key'], $opcao['default'])?'checked':'' }}/> {{ $opcao['title'] }}
                </label>
              </div>
{% endfor %}
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
{{ include('footer_gerenciar_sistema') }}