{{ include('header_gerenciar') }}
<div class="x_content">
  <div class="" role="tabpanel" data-example-id="togglable-tabs">
    <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
      <li role="presentation" class="{{ $tab == 'empresa' ? 'active' : '' }}"><a href="/gerenciar/sistema/" id="enterprise-tab">Empresa</a>
      </li>
      <li role="presentation" class="{{ $tab == 'impressao' ? 'active' : '' }}"><a href="/gerenciar/sistema/impressao" id="printing-tab">Impressão</a>
      </li>
      <li role="presentation" class="{{ $tab == 'opcoes' ? 'active' : '' }}"><a href="/gerenciar/sistema/opcoes" role="tab" id="opcoes-tab">Comportamento</a>
      </li>
      <li role="presentation" class="{{ $tab == 'email' ? 'active' : '' }}"><a href="/gerenciar/sistema/email" role="tab" id="email-tab">E-mail</a>
      </li>
      <li role="presentation" class="{{ $tab == 'layout' ? 'active' : '' }}"><a href="/gerenciar/sistema/layout" role="tab" id="layout-tab">Leiaute</a>
      </li>
      <li role="presentation" class="{{ $tab == 'avancado' ? 'active' : '' }}"><a href="/gerenciar/sistema/avancado" role="tab" id="avancado-tab">Avançado</a>
      </li>
{% if $app->getSystem()->isFiscalVisible() %}
      <li role="presentation" class="{{ $tab == 'fiscal' ? 'active' : '' }}"><a href="/gerenciar/sistema/fiscal" role="tab" id="avancado-tab">Fiscal</a></li>
{% endif %}
    </ul>
    <div id="myTabContent" class="tab-content">