<!--{include header}-->
	<script type="text/javascript">$(function(){Gerenciar.produto.initView([
<!--{loop $categorias $categoria}-->
		{id: {$categoria->getID()}, descricao: '${single_quotes($categoria->getDescricao())}'},
<!--{/loop}-->
	]);});</script>
	<!-- Products Section -->
	<section id="product" style="background-image: url('${get_site_image_url('Image.Produtos')}');">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h2 class="section-heading">Produtos</h2>
					<div class="title_right">
						<input type="text" class="form-control product-search" autocomplete="off" id="query" name="query" placeholder="Procurar...">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="categoria-box">
					<div class="categoria-nav hide prev">&lt;</div>
					<ul class="categoria-list">
<!--{loop $categorias $index $categoria}-->
						<li class="col-md-3 col-sm-3 col-xs-6 ${$categoria_atual->getID() == $categoria->getID()?'active':''}" title="{$categoria->getDescricao()}">
							<a href="#" data-categoria="{$categoria->getID()}">{$categoria->getDescricao()}</a>
						</li>
<!--{if $index == 3}--><!--${break}--><!--{/if}-->
<!--{/loop}-->
					</ul>
					<div class="categoria-nav${count($categorias) < 5?'hide':''} next">&gt;</div>
				</div>
			</div>
			<div class="row" id="product-list" data-symbol="{$currency->getSimbolo()}">
<!--{loop $produtos $produto}-->
				<div class="col-md-3 col-sm-4 col-xs-6 ofertas">
					<div class="item" data-produto="{$produto->getID()}" data-detalhes="{$produto->getDetalhes()}">
						<div class="imagem border-color">
							<img src="${get_image_url($produto->getImagem(), 'produto', 'produto.png')}" title="{$produto->getDescricao()}" height="128">
						</div>
						<div class="anuncio">
							<div class="limite">
								<div class="alinhamento">{$produto->getDescricao()}</div>
							</div>
						</div>
						<div class="detalhes">
							<div class="limite">
								<div class="preco">
									<div class="por"><span>{$currency->getSimbolo()} </span><strong>${\MZ\Util\Mask::money($produto->getPrecoVenda())}</strong></div>
								</div>
								<button>Detalhes</button>
							</div>
						</div>
					</div>
				</div>
<!--{/loop}-->
			</div>
		</div>
	</section>
	<div class="modal fade" id="product-info" tabindex="-1" role="dialog">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title"></h4>
		  </div>
		  <div class="modal-body">
		  	<div class="image">
		  		<img height="256">
		  	</div>
		  	<div class="product-details">
			  	<div class="description"></div>
			  	<div class="details"></div>
			  	<div class="price"><span>{$currency->getSimbolo()} </span><strong>0,00</strong></div>
			</div>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
		  </div>
		</div>
	  </div>
	</div>
<!--{include footer}-->