<!--{include header}-->
    <!-- Privacy Section -->
    <section id="privacy" style="background-image: url('${get_site_image_url('Image.Privacidade')}');">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Privacidade</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                   {$pagina->getConteudo()}
                </div>
            </div>
        </div>
    </section>
<!--{include footer}-->