{{ include('header_gerenciar') }}
<script type="text/javascript">$(function(){Gerenciar.$[table.unix].init();});</script>
<div class="row">
  <div class="page-title">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
      <h3>$[Table.name.plural]</h3>
    </div>
    <form id="search-form" action="/gerenciar/$[table.unix]/" method="get">
$[field.each(all)]
$[field.if(enum)]
      <div class="form-group col-lg-3 col-md-4 col-sm-4 col-xs-6">
        <label>$[Field.name]:</label>
        <select class="form-control" id="$[field]" name="$[field]">
            <option value="" {{ !array_key_exists($this->get('$[field]'), $tipos) ? 'selected': '' }}>Tod$[field.gender]s</option>
{% for $value, $text in $$[field.unix]_options %}
            <option value="{{ $value }}" {{ $this->get('$[field]') == $value ? 'selected': '' }}>{{ $text }}</option>
{% endfor %}
        </select>
      </div>
$[field.end]
$[field.end]
      <div class="form-group col-lg-3 col-md-4 col-sm-12 col-xs-12">
        <label for="search">$[Descriptor.name]:</label>
        <div class="input-group">
          <input type="text" class="form-control" id="search" name="search" placeholder="Procurar..." value="{{ $this->get('search') }}">
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
          </span>
        </div>
      </div>
    </form>
  </div>
  <div class="clearfix"></div>
  <div class="">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>$[Table.name.plural]<small></small></h2>
          <ul class="nav navbar-right panel_toolbox hidden-print">
            <li><a href="/gerenciar/$[table.unix]/cadastrar" title="Cadastrar nov$[table.gender] $[Table.name]"><i class="fa fa-plus-square"></i></a></li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <table class="table">
            <thead>
              <tr>
$[field.each]
$[field.if(password)]
$[field.else.if(text)]
$[field.else]
                <th>$[Field.name]</th>
$[field.end]
$[field.end]
                <th width="10%" class="text-center">Ações</th>
              </tr>
            </thead>
            <tbody>
{% for $$[table.unix] in $$[table.unix.plural] %}
              <tr>
$[field.each]
$[field.if(reference)]
{% $_$[reference.unix] = $$[table.unix]->find$[Field.norm]() %}
                <td><a href="/gerenciar/$[reference.unix]/editar?$[reference.pk]={{ $_$[reference.unix]->getID() }}" title="Editar $[Reference.name] '{{ $_$[reference.unix]->get$[Reference.desc.norm]() }}'">{{ $_$[reference.unix]->get$[Reference.desc.norm]() }}</a></td>
$[field.else.if(masked)]
                <td>{{ $this->mask($$[table.unix]->get$[Field.norm](), '$[field.mask]') }}</td>
$[field.else.if(enum)]
                <td>{{ $$[field.unix]_options[$$[table.unix]->get$[Field.norm]()] }}</td>
$[field.else.if(image)]
                <td><a href="/gerenciar/$[table.unix]/editar?$[primary.unix]={{ $$[table.unix]->get$[Primary.norm]() }}" title="Editar $[Table.name] '{{ $$[table.unix]->get$[Descriptor.norm]() }}'"><img src="{{ $$[table.unix]->make$[Field.norm]() }}" height="48" alt="$[Field.name]" title="$[Field.info]"/></a></td>
$[field.else.if(blob)]
                <td><a href="/gerenciar/$[table.unix]/editar?$[primary.unix]={{ $$[table.unix]->get$[Primary.norm]() }}" title="Editar $[Table.name] '{{ $$[table.unix]->get$[Descriptor.norm]() }}'"><img src="{{ $$[table.unix]->make$[Field.norm]() }}" height="48" alt="$[Field.name]" title="$[Field.info]"/></a></td>
$[field.else.if(datetime)]
                <td>{{ $this->datetime($$[table.unix]->get$[Field.norm]()) }}</td>
$[field.else.if(date)]
                <td>{{ $this->date($$[table.unix]->get$[Field.norm]()) }}</td>
$[field.else.if(time)]
                <td>{{ $this->time($$[table.unix]->get$[Field.norm]()) }}</td>
$[field.else.if(currency)]
                <td>{{ $this->currency($$[table.unix]->get$[Field.norm]()) }}</td>
$[field.else.if(boolean)]
                <td>{{ $this->bool($$[table.unix]->is$[Field.norm]()) }}</td>
$[field.else.if(password)]
$[field.else.if(text)]
$[field.else]
                <td>{{ $$[table.unix]->get$[Field.norm]() }}</td>
$[field.end]
$[field.end]
                <td class="text-center">
                  <ul class="nav panel_toolbox">
                    <li>
                      <a href="/gerenciar/$[table.unix]/editar?$[primary.unix]={{ $$[table.unix]->get$[Primary.norm]() }}" title="Editar $[table.name] '{{ $$[table.unix]->get$[Descriptor.norm]() }}'"><i class="fa fa-edit"></i></a>
                    </li>
                    <li>
                      <a href="/gerenciar/$[table.unix]/cadastrar?duplicar={{ $$[table.unix]->get$[Primary.norm]() }}" title="Duplicar $[table.name] '{{ $$[table.unix]->get$[Descriptor.norm]() }}'"><i class="fa fa-cubes"></i></a>
                    </li>
                    <li>
                      <a href="/gerenciar/$[table.unix]/excluir?$[primary.unix]={{ $$[table.unix]->get$[Primary.norm]() }}" title="Excluir $[table.name] '{{ $$[table.unix]->get$[Descriptor.norm]() }}'" class="ajaxlink" ask="Deseja excluir $[table.gender] $[table.name] '{{ $$[table.unix]->get$[Descriptor.norm]() }}'?"><i class="fa fa-close"></i></a>
                    </li>
                  </ul>
                </td>
              </tr>
{% endfor %}
            </tbody>
          </table>
          {{ include('pagination') }}
        </div>
      </div>
    </div>
  </div>
</div>
{{ include('footer_gerenciar') }}