/* latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat-Regular"),
    url(/static/fonts/Montserrat-Bold.ttf) format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
    U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat-Bold"),
    url(/static/fonts/Montserrat-Regular.ttf) format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
    U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: "Kaushan Script";
  font-style: normal;
  font-weight: 400;
  src: local("Kaushan Script"), local("KaushanScript-Regular"),
    url(/static/fonts/KaushanScript-Regular.ttf) format("truetype");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F,
    U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Kaushan Script";
  font-style: normal;
  font-weight: 400;
  src: local("Kaushan Script"), local("KaushanScript-Regular"),
    url(/static/fonts/KaushanScript-Regular.ttf) format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
    U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: "Droid Serif";
  font-style: normal;
  font-weight: 400;
  src: local("Droid Serif"), local("DroidSerif"),
    url(/static/fonts/DroidSerif.ttf) format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
    U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: "Droid Serif";
  font-style: normal;
  font-weight: 700;
  src: local("Droid Serif Bold"), local("DroidSerif-Bold"),
    url(/static/fonts/DroidSerif-Bold.ttf) format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
    U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: "Droid Serif";
  font-style: italic;
  font-weight: 400;
  src: local("Droid Serif Italic"), local("DroidSerif-Italic"),
    url(/static/fonts/DroidSerif-Italic.ttf) format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
    U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: "Droid Serif";
  font-style: italic;
  font-weight: 700;
  src: local("Droid Serif Bold Italic"), local("DroidSerif-BoldItalic"),
    url(/static/fonts/DroidSerif-BoldItalic.ttf) format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
    U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic-ext */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 100;
  src: local("Roboto Slab Thin"), local("RobotoSlab-Thin"),
    url(/static/fonts/RobotoSlab-Thin.ttf) format("truetype");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 100;
  src: local("Roboto Slab Thin"), local("RobotoSlab-Thin"),
    url(/static/fonts/RobotoSlab-Thin.ttf) format("truetype");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 100;
  src: local("Roboto Slab Thin"), local("RobotoSlab-Thin"),
    url(/static/fonts/RobotoSlab-Thin.ttf) format("truetype");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 100;
  src: local("Roboto Slab Thin"), local("RobotoSlab-Thin"),
    url(/static/fonts/RobotoSlab-Thin.ttf) format("truetype");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 100;
  src: local("Roboto Slab Thin"), local("RobotoSlab-Thin"),
    url(/static/fonts/RobotoSlab-Thin.ttf) format("truetype");
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 100;
  src: local("Roboto Slab Thin"), local("RobotoSlab-Thin"),
    url(/static/fonts/RobotoSlab-Thin.ttf) format("truetype");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F,
    U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 100;
  src: local("Roboto Slab Thin"), local("RobotoSlab-Thin"),
    url(/static/fonts/RobotoSlab-Thin.ttf) format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
    U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic-ext */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Slab Light"), local("RobotoSlab-Light"),
    url(/static/fonts/RobotoSlab-Light.ttf) format("truetype");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Slab Light"), local("RobotoSlab-Light"),
    url(/static/fonts/RobotoSlab-Light.ttf) format("truetype");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Slab Light"), local("RobotoSlab-Light"),
    url(/static/fonts/RobotoSlab-Light.ttf) format("truetype");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Slab Light"), local("RobotoSlab-Light"),
    url(/static/fonts/RobotoSlab-Light.ttf) format("truetype");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Slab Light"), local("RobotoSlab-Light"),
    url(/static/fonts/RobotoSlab-Light.ttf) format("truetype");
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Slab Light"), local("RobotoSlab-Light"),
    url(/static/fonts/RobotoSlab-Light.ttf) format("truetype");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F,
    U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Slab Light"), local("RobotoSlab-Light"),
    url(/static/fonts/RobotoSlab-Light.ttf) format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
    U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic-ext */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Slab Regular"), local("RobotoSlab-Regular"),
    url(/static/fonts/RobotoSlab-Regular.ttf) format("truetype");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Slab Regular"), local("RobotoSlab-Regular"),
    url(/static/fonts/RobotoSlab-Regular.ttf) format("truetype");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Slab Regular"), local("RobotoSlab-Regular"),
    url(/static/fonts/RobotoSlab-Regular.ttf) format("truetype");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Slab Regular"), local("RobotoSlab-Regular"),
    url(/static/fonts/RobotoSlab-Regular.ttf) format("truetype");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Slab Regular"), local("RobotoSlab-Regular"),
    url(/static/fonts/RobotoSlab-Regular.ttf) format("truetype");
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Slab Regular"), local("RobotoSlab-Regular"),
    url(/static/fonts/RobotoSlab-Regular.ttf) format("truetype");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F,
    U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Slab Regular"), local("RobotoSlab-Regular"),
    url(/static/fonts/RobotoSlab-Regular.ttf) format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
    U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic-ext */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Slab Bold"), local("RobotoSlab-Bold"),
    url(/static/fonts/RobotoSlab-Bold.ttf) format("truetype");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Slab Bold"), local("RobotoSlab-Bold"),
    url(/static/fonts/RobotoSlab-Bold.ttf) format("truetype");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Slab Bold"), local("RobotoSlab-Bold"),
    url(/static/fonts/RobotoSlab-Bold.ttf) format("truetype");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Slab Bold"), local("RobotoSlab-Bold"),
    url(/static/fonts/RobotoSlab-Bold.ttf) format("truetype");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Slab Bold"), local("RobotoSlab-Bold"),
    url(/static/fonts/RobotoSlab-Bold.ttf) format("truetype");
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Slab Bold"), local("RobotoSlab-Bold"),
    url(/static/fonts/RobotoSlab-Bold.ttf) format("truetype");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F,
    U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Slab Bold"), local("RobotoSlab-Bold"),
    url(/static/fonts/RobotoSlab-Bold.ttf) format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
    U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
.inllbl {
  color: white;
  font-weight: normal;
}
/* image upload */
.upload {
  opacity: 0; /* Standard: FF gt 1.5, Opera, Safari */
  filter: alpha(opacity=0); /* IE lt 8 */
  -ms-filter: "alpha(opacity=0)"; /* IE 8 */
  -khtml-opacity: 0; /* Safari 1.x */
  -moz-opacity: 0; /* FF lt 1.5, Netscape */
  width: 1px;
  height: 1px;
}
.image-view {
  margin: 0px auto;
  border: 5px solid #fff;
  overflow: hidden;
  position: relative;
  text-align: center;
  box-shadow: 0px 0px 5px #aaa;
  cursor: default;
  -webkit-box-sizing: initial;
  -moz-box-sizing: initial;
  box-sizing: initial;
}
.image-view .mask,
.image-view .content {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0 !important;
}
.image-view label {
  margin: 0px;
}
.image-view img {
  display: block;
  position: relative;
}
.image-view a {
  top: -12px;
  display: inline-block;
  text-decoration: none;
  padding: 0;
  text-indent: -9999px;
  width: 24px;
  height: 24px;
}

.image-view a.img-open {
  background: url(/static/img/img-open.png) center no-repeat;
}
.image-view a.img-remove {
  background: url(/static/img/img-remove.png) center no-repeat;
}
.third-effect .mask {
  opacity: 0;
  overflow: visible;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.7);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.third-effect a {
  position: relative;
  opacity: 0;
  -webkit-transition: opacity 0.3s 0s ease-in-out;
  -moz-transition: opacity 0.3s 0s ease-in-out;
  -o-transition: opacity 0.3s 0s ease-in-out;
  -ms-transition: opacity 0.3s 0s ease-in-out;
  transition: opacity 0.3s 0s ease-in-out;
}
.third-effect:hover .mask {
  opacity: 1;
}
.third-effect:hover a.img-open,
.third-effect:hover a.img-remove {
  opacity: 1;
}
/* end image upload */
#search {
}
form #query {
  background: url(../img/search-white.png) no-repeat 10px 8px #fff;
  border: 1px solid #d1d1d1;
  font: bold 12px Arial, Helvetica, Sans-serif;
  padding: 6px 15px 6px 35px;
}
.ofertas .item {
  margin: 6px;
  background: #fff;
  border: 1px solid #e5e5e5;
  overflow: hidden;
  float: left;
  width: 100%;
  border: 1px solid #e59719;
  border-color: #585963;
  height: 257px;
}
.ofertas .item.selected {
  -webkit-box-shadow: -1px 2px 20px -1px #fff;
  -moz-box-shadow: -1px 2px 20px -1px #fff;
  box-shadow: -1px 2px 20px -1px #fff;
  background-color: #9edcff;
}
.ofertas .imagem {
  border-bottom: 5px solid #55acee;
  text-align: center;
}
.ofertas .item .anuncio {
  padding: 0;
  margin: 7px 10px;
  height: 48px;
  overflow: hidden;
  text-align: left;
  display: block;
  line-height: 18px;
  font-weight: normal;
  font-size: 13px;
  color: #666;
}
.ofertas .item .detalhes,
.opcao .detalhes {
  padding: 0;
  margin: 0;
  height: 60px;
  width: 100%;
  color: #aaa;
  display: block;
  overflow: hidden;
  border-top: 1px solid #e5e5e5;
  background: #fafafa;
}
.ofertas .item .anuncio .limite {
  display: table;
  height: 100%;
  width: 100%;
}
.ofertas .item .anuncio .limite .alinhamento {
  display: table-cell;
  vertical-align: middle;
}
.opcoes .opcao .detalhes button,
.ofertas .item .detalhes button {
  float: right;
  background: #349f50;
  border: 1px solid #257b3c;
  color: #fff;
  cursor: pointer;
  padding: 0 10px;
  margin: 10px 8px;
  font-weight: bold;
  line-height: 32px;
  height: 34px;
  text-shadow: 0px -1.5px #257b3c;
  font-size: 13px;
  border-radius: 3px;
}
.ofertas .item .detalhes .preco,
.oferta .comprar .preco,
.opcao .detalhes .preco {
  text-align: right;
  float: left;
  padding: 16px 0 0 16px;
  margin: 0;
  height: 37px;
}
.ofertas .item .detalhes .preco .de,
.oferta .comprar .preco .de,
.opcao .detalhes .preco .de {
  font-size: 13px;
  line-height: 20px;
  display: block;
  color: #777;
  margin: 0;
  padding: 0 1px 0 0;
  font-weight: normal;
}
.ofertas .item .detalhes .preco span,
.oferta .comprar .preco span,
.opcao .detalhes .preco span {
  font-size: 12px;
  text-decoration: none;
  font-weight: normal;
}
.ofertas .item .detalhes .preco .por,
.oferta .comprar .preco .por,
.opcao .detalhes .preco .por {
  font-size: 20px;
  line-height: 20px;
  display: block;
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #333;
}
.ofertas .item .detalhes .preco span,
.oferta .comprar .preco span,
.opcao .detalhes .preco span {
  font-size: 14px;
  color: #777;
  text-decoration: none;
  font-weight: normal;
}
.categoria-list {
  list-style: none;
  padding: 0;
  background: #fff;
  border-radius: 5px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 20px;
  overflow: hidden;
}
.categoria-list li {
  text-align: center;
  position: relative;
  border-right: 1px solid #e7e7e7;
  transition: all 0.15s;
  -moz-transition: all 0.15s;
  -webkit-transition: all 0.15s;
  border-bottom: 1px solid #e7e7e7;
}
.categoria-list li:hover {
  background: #f7f7f7;
}
.categoria-list li a {
  font-size: 18px;
  width: 100%;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: all 0.15s;
  -moz-transition: all 0.15s;
  -webkit-transition: all 0.15s;
  padding: 20px 0;
  text-decoration: none;
  color: #000;
}
.categoria-list .active {
  background-color: #b4e4ff;
}
.categoria-list .active a,
.categoria-list li a:hover {
  color: #717171;
}
#product {
  background-color: #222;
  background-image: url(../img/map-image.png);
  background-position: center;
  background-repeat: no-repeat;
}
#product .section-heading {
  color: #fff;
}
#product .title_right {
  float: right;
  margin-top: -54px;
}
.categoria-nav {
  font-family: monospace;
  font-weight: bold;
  color: #fff;
  font-size: 24pt;
  display: inline;
  padding: 11px 8px;
  background-color: #ff8212;
  z-index: 5;
  cursor: pointer;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.categoria-nav:first-child {
  border-radius: 3px 0 0 3px;
  float: left;
}
.categoria-nav:last-child {
  border-radius: 0 3px 3px 0;
  float: right;
  margin-top: -86px;
}
.modal .image {
  display: inline-block;
}
.modal .product-details {
  display: inline-block;
  float: right;
  width: 50%;
  height: 256px;
}
.modal .description {
  font-weight: bold;
  font-size: 16pt;
  margin-bottom: 10px;
}
.modal .details {
  margin-bottom: 10px;
  color: #777;
  font-size: 14pt;
}
.modal .price {
}
.modal .price span {
  font-size: 16pt;
  vertical-align: top;
}
.modal .price strong {
  font-size: 26pt;
  color: #2b89da;
}
.loader {
  color: #ffffff;
  font-size: 20px;
  margin: 100px auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load4 1.3s infinite linear;
  animation: load4 1.3s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em,
      0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em,
      0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
@keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em,
      0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em,
      0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
.form-horizontal .form-group {
  margin-right: 0;
  margin-left: 0;
}
.checkbox label {
  padding-top: 24px;
  padding-bottom: 8px;
}
.radio-inline {
  padding-bottom: 7px;
}
.form-group.checkbox label {
  padding-top: 0px;
}
.img-box {
  width: 16px;
  overflow: hidden;
  float: left;
  margin-right: 5px;
}

.img-box img {
  margin: 0 0 0 0;
}
section#contact,
section#product,
section#signin,
section#about,
section#terms,
section#privacy,
section#register {
  background-position-y: 0px;
  background-repeat: inherit;
}
.cell-icon {
  background-repeat: no-repeat;
  float: left;
  margin-right: 4px;
  width: 16px;
  height: 16px;
}
.auditoria-icons {
  background-image: url("../img/auditoria-tipo.png");
}
.pedido-icons {
  background-image: url("../img/pedidos.png");
}
.movimentacao-icons {
  background-image: url("../img/movimentacoes.png");
}
.conta-icons {
  background-image: url("../img/contas.png");
}
.pagamento-icons {
  background-image: url("../img/pagamentos.png");
}
.pais-icons {
  background-image: url("../img/country.png");
  height: 11px;
  margin-top: 3px;
}
.cartao-icons {
  background-image: url("../img/cartoes.png");
  width: 50px;
  height: 31px;
  margin-top: 2px;
}
.cartao-icons + strong {
  line-height: 31px;
}
.table tbody > tr > td {
  vertical-align: middle;
}
#google-map {
  height: 512px;
  transform: none !important;
}
label .identifier {
  color: blue;
}
@media print {
  a[href]:after {
    content: none !important;
  }
}
.switchery {
  margin-right: 10px;
}
.integrator > div > label {
  margin-bottom: 0px !important;
}
.integrator > div {
  display: inline-block;
}
.integrator > img {
  margin-right: 10px;
}
