<div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
  <label for="$[field]">$[Field.name]:</label>
  <select id="$[field]" name="$[field]" class="form-control">
$[field.if(null)]
    <option value="" {{ !array_key_exists($$[table.unix]->get$[Field.norm](), $$[field.unix]_options) ? 'selected': '' }}>Tod$[field.gender]s</option>
$[field.end]
{% for $value, $text in $$[field.unix]_options %}
    <option value="{{ $value }}" {{ $$[table.unix]->get$[Field.norm]() == $value ? 'selected': '' }}>{{ $text }}</option>
{% endfor %}
  </select>
</div>