$[field.if(searchable)]
<input type="hidden" id="$[field]_ref" name="$[field]" data-content="{{ $$[field.unix]_obj->get$[Reference.desc.norm]() }}" value="{{ $$[table.unix]->get$[Field.norm]() }}">
<div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
  <label for="$[field]"><span>$[Field.name]: </span><span class="identifier">{{ $$[field.unix]_obj->get$[Reference.pk.norm]() }}<span></label>
  <input type="text" id="$[field]" class="form-control" placeholder="Procurar pel$[reference.desc.gender] $[Reference.desc.name]..." value="{{ $$[field.unix]_obj->get$[Reference.desc.norm]() }}">
</div>$[field.else]
<div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
  <label for="$[field]">$[Field.name]:</label>
  <select class="form-control" id="$[field]" name="$[field]">
$[field.if(null)]
    <option value="" {{ is_null($$[table.unix]->get$[Field.norm]())?'selected':'' }}>Não informad$[field.gender]</option>
$[field.end]
{% for $_$[reference.unix] in $_$[reference.unix.plural] %}
    <option value="{{ $_$[reference.unix]->get$[Reference.pk.norm]() }}" {{ $$[table.unix]->get$[Field.norm]() == $_$[reference.unix]->get$[Reference.pk.norm]()?'selected':'' }}>{{ $_$[reference.unix]->get$[Reference.desc.norm]() }}</option>
{% endfor %}
  </select>
</div>$[field.end]